/**
 * @name surCord
 * @author Vozer
 * @version 07.2022
 * @description A Discord theme inspired by Human Design.
 * @source https://github.com/SlippingGitty/surCord/
 * @website https://slippinggitty.github.io/
*/

/*
                    'c.          discord@DiscordTheme.local 
                 ,xNMM.          ----------------------- 
               .OMMMMo           OS: surCord 07.22 css 
               OMMM0,            Host: DiscordCanary0,1 
     .;loddo:' loolloddol;.      Kernel: 0.0.285
   cKMMMMMMMMMMNWMMMMMMMMMM0:    Uptime: 09 hours, 15 mins 
 .KMMMMMMMMMMMMMMMMMMMMMMMWd.    Packages: 4800 (plugins) 
 XMMMMMMMMMMMMMMMMMMMMMMMX.      Shell: Powercord, BetterDiscord, BeautifulDiscord,
;MMMMMMMMMMMMMMMMMMMMMMMM:              Goosemod, Stylus 
:MMMMMMMMMMMMMMMMMMMMMMMM:       DE: ImagineAPlace
.MMMMMMMMMMMMMMMMMMMMMMMMX.      WM: Vozer
 kMMMMMMMMMMMMMMMMMMMMMMMMWd.    WM Theme: Blurple
 .XMMMMMMMMMMMMMMMMMMMMMMMMMMk   Font: San Fransisco Display
  .XMMMMMMMMMMMMMMMMMMMMMMMMK.   Memory: #7673MiB / 8192MiB 
    kMMMMMMMMMMMMMMMMMMMMMMd      
     ;KMMMMMMMWXXWMMMMMMMk.       
       .cooc,.    .,coo:.       
*/

/*
----------Accents---------
> Only one Accent can be uncommented at a time.
> Feel free to contribute https://github.com/SlippingGittys-Discord-Themes/surCord/tree/main/src/fixations/additions/ Accents
*/

  @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/blue.css'); 
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/red.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/yellow.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/pink.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/materialblue.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/hatsune.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/nord.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/dracula.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/fuoco.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/tokyo.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/dark.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/accents/apple.css'); */

/*
----------Palettes---------
> Only one Palette can be uncommenteed at a time.
> Feel free to contribute https://github.com/SlippingGittys-Discord-Themes/surCord/tree/main/src/fixations/additions/themes
*/

 @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/themes/default.css'); 
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/themes/amoled.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/themes/amoledc.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/themes/materialdark.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/themes/nordtheme.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/themes/dracula.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/themes/fuoco.css'); */
/* @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/themes/tokyonight.css'); */

/*
-----------Source---------
> This is the core of the entire theme
> It is essential that you do not touch this url, unless you know what you are doing.
*/
@import url('https://slippinggittys-discord-Themes.github.io/surCord/src/source.css');
/*
/*
-----------Font---------
> Uncomment the font-weight to enable San Fransisco Bold
> Designed by Apple in California - SAN FRANSISCO DISPLAY - https://developer.apple.com/fonts/ 
*/

/* Uncomment the line below to use Apple's Emoji font */
/* @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css); */

code,
.inlineCode-ERyvy_,
.after_inlineCode-2_JXPm,
.before_inlineCode-1zngJj,
.codeLine-2C-9aH,
.codeBlockText-28BOxV {
  font-family: "SF Mono", mono, monospace;
}

::placeholder, ::-webkit-input-placeholder,
body, button, input, select, textarea, .base-ZDDK0g, .headerText-1qIDDT, .header-Imy05m, .container-q97qHp, .name-3Uvkvr, .text-md-bold-22PzaZ, .text-md-semibold-3xVVGu, .text-sm-medium-3Pz3rB, .text-sm-normal-3Zj3Iv, .text-xs-medium-2LRpEj, .text-xs-normal-3SiVjE {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
  text-rendering: optimizeLegibility !important;
  /* font-weight: bold; */
  text-transform: none;
}

@import url("https://raw.githubusercontent.com/czarhex/SanFranciscoFontCSS/main/SFFont.css");

/* 
/////////////////////////////////////////
//ADD YOUR OWN ADDITIONS BELLOW THIS LINE
/////////////////////////////////////////
*/
