.theme-dark {
  --background-tertiary: #2f31364b;
}
.theme-light {
  --background-tertiary: #ffffff1d;
}

.theme-dark .appMount_c99875, .theme-dark .app_de4237, .theme-dark .bg__12180, .theme-dark .scroller_de945b, .theme-dark .guilds__2b93a, .theme-dark .channelName-3w2Y3c, .theme-dark .sidebar_e031be, .theme-dark .privateChannels__9b518, .theme-dark .searchBar__621ec, .theme-dark .scroller__89969, .theme-dark .container__7e23c, .theme-dark .header__77c95,  .theme-dark .searchBar__621ec .searchBarComponent__8f95f {
  background: transparent !important;
}
.theme-light .appMount_c99875, .theme-light .app_de4237, .theme-light .bg__12180, .theme-light .scroller_de945b, .theme-light .guilds__2b93a, .theme-light .channelName-3w2Y3c, .theme-light .sidebar_e031be, .theme-light .privateChannels__9b518, .theme-light .searchBar__621ec, .theme-light .scroller__89969, .theme-light .container__7e23c, .theme-light .header__77c95,  .theme-light .searchBar__621ec .searchBarComponent__8f95f {
  background: transparent !important;
}
.theme-dark .header__77c95, .theme-light .header__77c95 {
  border-bottom: none;
}
