:root {
    --accent: rgba(14,157,219);
    --accent-hover: rgba(251,185,56);
    --accent-selected: rgba(246,129,41);
    --accent-buttons: rgba(150,56,146);
    --accent-focused: rgb(215, 56, 146, 0.200);
  }
  .clickable_e44302 .icon_e44302, .linkButtonIcon_c91bad  {
    color: rgb(224,54,60) !important;
  }
  .iconWrapper_e44302 .icon_e44302 {
    color: rgba(96,189,78);
  }
  .stickerIcon__3ceda {
    color: var(--accent);
  }
  .icon_cecf00 {
    color: rgba(96,189,78);
  }
  .contents-3ca1mk .button_cecf00 .button_d0696b {
    color: rgb(224,54,60);
  }
  .buttonWrapper_cecf00 {
    color: var(--accent);
  }
