:root {
    --accent: rgba(14,157,219);
    --accent-hover: rgba(251,185,56);
    --accent-selected: rgba(246,129,41);
    --accent-buttons: rgba(150,56,146);
    --accent-focused: rgb(215, 56, 146, 0.200);
  }
  .clickable-ZD7xvu .icon-2xnN2Y, .linkButtonIcon-7rsZcu  {
    color: rgb(224,54,60) !important;
  }
  .iconWrapper-2awDjA .icon-2xnN2Y {
    color: rgba(96,189,78);
  }
  .stickerIcon-3Jx5SE {
    color: var(--accent);
  }
  .icon-1d5zch {
    color: rgba(96,189,78);
  }
  .contents-3ca1mk .button-2fCJ0o .button-3BaQ4X {
    color: rgb(224,54,60);
  }
  .buttonWrapper-3YFQGJ {
    color: var(--accent);
  }
