:root {
    --accent: rgba(14,157,219);
    --accent-hover: rgba(251,185,56);
    --accent-selected: rgba(246,129,41);
    --accent-buttons: rgba(150,56,146);
    --accent-focused: rgb(215, 56, 146, 0.200);
  }
  .clickable__9293f .icon__9293f, .linkButtonIcon__972a0  {
    color: rgb(224,54,60) !important;
  }
  .iconWrapper__9293f .icon__9293f {
    color: rgba(96,189,78);
  }
  .stickerIcon__3ceda {
    color: var(--accent);
  }
  .icon__24af7 {
    color: rgba(96,189,78);
  }
  .contents-3ca1mk .button__24af7 .button__74017 {
    color: rgb(224,54,60);
  }
  .buttonWrapper__24af7 {
    color: var(--accent);
  }
