:root {
    --accent: rgba(14,157,219);
    --accent-hover: rgba(251,185,56);
    --accent-selected: rgba(246,129,41);
    --accent-buttons: rgba(150,56,146);
    --accent-focused: rgb(215, 56, 146, 0.200);
  }
  .clickable_ce0925 .icon_ae0b42, .linkButtonIcon_cff89e  {
    color: rgb(224,54,60) !important;
  }
  .iconWrapper_de6cd1 .icon_ae0b42 {
    color: rgba(96,189,78);
  }
  .stickerIcon__3ceda {
    color: var(--accent);
  }
  .icon__27d76 {
    color: rgba(96,189,78);
  }
  .contents-3ca1mk .button__437ce .button__493d9 {
    color: rgb(224,54,60);
  }
  .buttonWrapper_bd4bd7 {
    color: var(--accent);
  }
