.theme-dark {
    --accent: rgb(255, 0, 60);
    --accent-hover: rgba(40, 239, 246, 0.952);
    --accent-selected: rgba(40, 239, 246, 0.438);
    --accent-focused: rgba(237, 60, 69, 0.733);
  }
.theme-light {
    --accent: rgb(255, 0, 60);
    --accent-hover: rgba(255, 0, 60, 0.952);
    --accent-selected: rgba(10, 168, 173, 0.616);
    --accent-focused: rgba(237, 60, 69, 0.733);
  }
  .clickable__9293f .icon__9293f, .linkButtonIcon__972a0  {
    color: var(--accent-hover) !important;
  }
  .iconWrapper__9293f .icon__9293f {
    color: var(--accent-hover);
  }
  .stickerIcon__3ceda {
    color: var(--accent-hover);
  }
  .icon__24af7 {
    color: var(--accent-hover);
  }
  .contents-3ca1mk .button__24af7 .button__74017 {
    color: var(--accent-hover);
  }
  .buttonWrapper__24af7 {
    color: var(--accent-hover);
  }
  .theme-dark .button__67645 {
    color: var(--accent-hover) !important;
  }
.theme-dark {
  --text-normal: rgba(227, 255, 255, 0.849);
}
.theme-light {
  --text-normal: rgba(26, 60, 61, 0.849);
}
.theme-dark .channelName-3KPsGw, .theme-dark .searchBarComponent__35e86, .theme-dark .public-DraftEditorPlaceholder-inner, .icon_fea832 {
  color: rgba(148, 251, 255, 0.849) !important;
}
.theme-dark .name__20a53 {
  color: rgb(169, 247, 250);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent) !important;
}

.item__58105 {
  background-color: var(--accent-focused) !important;
}
