:root {
  --accent: rgba(129, 161, 193);
  --accent-hover: rgb(67, 76, 94, 0.977);
  --accent-selected: rgb(136, 192, 208, 0.612);
  --accent-focused: rgb(143, 188, 187, 0.2);
}
.iconWrapper_de6cd1 .icon_ae0b42,
.stickerIcon__3ceda,
.icon__27d76,
.circleIcon_b62ef0,
.buttonWrapper_bd4bd7 {
  color: rgb(215, 222, 233);
}
.item_e4ca95 .item-3XjbnG .themed-2-lozF[aria-controls="add_friend-tab"] {
  background-color: var(--accent-hover) !important;
}
.content__01e65,
.membersWrap__5ca6b {
  border-left: 0.5px solid rgb(50, 50, 50);
}
.container__26baa.themed_b152d4,
.header__77c95 {
  border-bottom: 0.5px solid rgb(50, 50, 50) !important;
}
.searchBar__621ec {
  border-right: 0.5px solid rgb(50, 50, 50);
}
.clickable_ce0925 .icon_ae0b42,
.linkButtonIcon_cff89e {
  color: rgb(215, 222, 233) !important;
}
.contents-3ca1mk .button__437ce .button__493d9 {
  color: rgb(80, 111, 170);
}
.circleIcon_b62ef0 {
  color: rgb(120, 136, 162) !important;
}
.name__4eb92,
.membersGroup_cad095 {
  color: rgb(98, 110, 132);
}
.addButtonIcon_d9a52c,
.modeUnreadImportant__35358 .icon__67ab4,
.unreadImportant_e8bb44 {
  color: rgb(131, 190, 186) !important;
}
.messageContent_abea64,
.modeConnected__52a8f .name__4eb92,
.modeConnected__52a8f:hover .name__4eb92,
.modeSelected__473f1 .name__4eb92,
.modeSelected__473f1:hover .name__4eb92,
.modeUnreadImportant__35358 .name__4eb92,
.modeUnreadImportant__35358:hover .name__4eb92,
.notInteractive_e31551.modeConnected__52a8f .name__4eb92,
.notInteractive_e31551.modeSelected__473f1 .name__4eb92 {
  color: rgba(215, 222, 333) !important;
}
.modeSelected__473f1 .icon__67ab4,
.modeSelected__473f1:hover .icon__67ab4,
.modeUnreadImportant__35358 .icon__67ab4,
.modeUnreadImportant__35358:hover .icon__67ab4,
.mainContent__2333c .overflow__993fa,
.mainContent__2333c {
  color: rgb(215, 222, 233) !important;
}
.theme-dark .unreadMentionsIndicatorTop__153ad .unreadMentionsBar__8cd45,
.theme-dark .unreadMentionsIndicatorBottom__9351c .unreadMentionsBar__8cd45,
.theme-dark .unreadMentionsIndicatorTop__153ad .unreadMentionsBar__8cd45,
.numberBadge__40d6f,
.unreadImportant_e8bb44,
.newBadge__4f501 {
  background: rgba(106, 120, 144) !important;
}
