:root {
  --accent: rgba(129, 161, 193);
  --accent-hover: rgb(67, 76, 94, 0.977);
  --accent-selected: rgb(136, 192, 208, 0.612);
  --accent-focused: rgb(143, 188, 187, 0.2);
}
.iconWrapper_e44302 .icon_e44302,
.stickerIcon__3ceda,
.icon_cecf00,
.circleIcon_db6521,
.buttonWrapper_cecf00 {
  color: rgb(215, 222, 233);
}
.item_c2739c .item-3XjbnG .themed-2-lozF[aria-controls="add_friend-tab"] {
  background-color: var(--accent-hover) !important;
}
.content_a7d72e,
.membersWrap_cbd271 {
  border-left: 0.5px solid rgb(50, 50, 50);
}
.container_e44302.themed_e44302,
.header_fd6364 {
  border-bottom: 0.5px solid rgb(50, 50, 50) !important;
}
.searchBar_f0963d {
  border-right: 0.5px solid rgb(50, 50, 50);
}
.clickable_e44302 .icon_e44302,
.linkButtonIcon_c91bad {
  color: rgb(215, 222, 233) !important;
}
.contents-3ca1mk .button_cecf00 .button_d0696b {
  color: rgb(80, 111, 170);
}
.circleIcon_db6521 {
  color: rgb(120, 136, 162) !important;
}
.name_d8bfb3,
.membersGroup_cbd271 {
  color: rgb(98, 110, 132);
}
.addButtonIcon_a08117,
.modeUnreadImportant_d8bfb3 .icon_d8bfb3,
.unreadImportant_d8bfb3 {
  color: rgb(131, 190, 186) !important;
}
.messageContent_ec86aa,
.modeConnected_d8bfb3 .name_d8bfb3,
.modeConnected_d8bfb3:hover .name_d8bfb3,
.modeSelected_d8bfb3 .name_d8bfb3,
.modeSelected_d8bfb3:hover .name_d8bfb3,
.modeUnreadImportant_d8bfb3 .name_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .name_d8bfb3,
.notInteractive_d8bfb3.modeConnected_d8bfb3 .name_d8bfb3,
.notInteractive_d8bfb3.modeSelected_d8bfb3 .name_d8bfb3 {
  color: rgba(215, 222, 333) !important;
}
.modeSelected_d8bfb3 .icon_d8bfb3,
.modeSelected_d8bfb3:hover .icon_d8bfb3,
.modeUnreadImportant_d8bfb3 .icon_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .icon_d8bfb3,
.mainContent_a08117 .overflow_c74e70,
.mainContent_a08117 {
  color: rgb(215, 222, 233) !important;
}
.theme-dark .unreadMentionsIndicatorTop_fea3ef .unreadMentionsBar_fea3ef,
.theme-dark .unreadMentionsIndicatorBottom_fea3ef .unreadMentionsBar_fea3ef,
.theme-dark .unreadMentionsIndicatorTop_fea3ef .unreadMentionsBar_fea3ef,
.numberBadge__40d6f,
.unreadImportant_d8bfb3,
.newBadge__4f501 {
  background: rgba(106, 120, 144) !important;
}
