:root {
    --accent: rgb(170, 150, 120);
    --accent-hover: rgba(149, 194, 203, 0.6);
    --accent-buttons: rgba(149, 194, 203, 0.4);
    --accent-selected: rgba(245, 92, 4, 0.829);
    --accent-focused: rgba(67, 65, 121, 0.4);
  }
