:root {
  --accent: rgb(177, 77, 98);
  --accent-hover: rgb(51, 152, 148, 0.977);
  --accent-selected: rgb(51, 152, 148, 0.612);
  --accent-focused: rgb(51, 152, 148, 0.2);
}
.iconWrapper-2awDjA .icon-2xnN2Y,
.stickerIcon-3Jx5SE,
.icon-1d5zch,
.circleIcon-3489FI,
.buttonWrapper-3YFQGJ {
  color: var(--accent);
}
.item-3mHhwr .item-3XjbnG .themed-2-lozF[aria-controls="add_friend-tab"] {
  background-color: var(--accent-hover) !important;
}
.clickable-ZD7xvu .icon-2xnN2Y,
.linkButtonIcon-7rsZcu {
  color: rgb(255, 158, 100) !important;
}
.contents-3ca1mk .button-2fCJ0o .button-3BaQ4X {
  color: rgb(80, 111, 170);
}
.circleIcon-3489FI {
  color: rgba(189, 182, 44, 0.61) !important;
}
.name-28HaxV,
.membersGroup-2eiWxl {
  color: rgb(86, 95, 137);
}
.addButtonIcon-3rJeaD,
.modeUnread-3Cxepe .icon-2W8DHg,
.unreadRelevant-2f-VSK {
  color: rgba(51, 152, 148) !important;
}
.messageContent-2t3eCI,
.modeConnected-NrO4cP .name-28HaxV,
.modeConnected-NrO4cP:hover .name-28HaxV,
.modeSelected-3DmyhH .name-28HaxV,
.modeSelected-3DmyhH:hover .name-28HaxV,
.modeUnread-3Cxepe .name-28HaxV,
.modeUnread-3Cxepe:hover .name-28HaxV,
.notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV,
.notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
  color: #b4f9f8 !important;
}
.modeSelected-3DmyhH .icon-2W8DHg,
.modeSelected-3DmyhH:hover .icon-2W8DHg,
.modeUnread-3Cxepe .icon-2W8DHg,
.modeUnread-3Cxepe:hover .icon-2W8DHg,
.mainContent-uDGa6R .overflow-1wOqNV,
.mainContent-uDGa6R {
  color: rgb(114, 218, 202) !important;
}
.theme-dark .unreadMentionsIndicatorTop-2bTgUU .unreadMentionsBar-ZXXoOH,
.theme-dark .unreadMentionsIndicatorBottom-3RJMnQ .unreadMentionsBar-ZXXoOH,
.theme-dark .unreadMentionsIndicatorTop-2bTgUU .unreadMentionsBar-ZXXoOH,
.numberBadge-37OJ3S,
.unreadRelevant-2f-VSK,
.newBadge-1bHewI {
  background: rgba(51, 152, 148) !important;
}
