:root {
  --accent: rgb(177, 77, 98);
  --accent-hover: rgb(51, 152, 148, 0.977);
  --accent-selected: rgb(51, 152, 148, 0.612);
  --accent-focused: rgb(51, 152, 148, 0.2);
}
.iconWrapper__9293f .icon__9293f,
.stickerIcon__3ceda,
.icon__24af7,
.circleIcon__5bc7e,
.buttonWrapper__24af7 {
  color: var(--accent);
}
.item__133bf .item-3XjbnG .themed-2-lozF[aria-controls="add_friend-tab"] {
  background-color: var(--accent-hover) !important;
}
.clickable__9293f .icon__9293f,
.linkButtonIcon__972a0 {
  color: rgb(255, 158, 100) !important;
}
.contents-3ca1mk .button__24af7 .button__74017 {
  color: rgb(80, 111, 170);
}
.circleIcon__5bc7e {
  color: rgba(189, 182, 44, 0.61) !important;
}
.name__2ea32,
.membersGroup_c8ffbb {
  color: rgb(86, 95, 137);
}
.addButtonIcon__29444,
.modeUnreadImportant__2ea32 .icon__2ea32,
.unreadImportant__2ea32 {
  color: rgba(51, 152, 148) !important;
}
.messageContent_c19a55,
.modeConnected__2ea32 .name__2ea32,
.modeConnected__2ea32:hover .name__2ea32,
.modeSelected__2ea32 .name__2ea32,
.modeSelected__2ea32:hover .name__2ea32,
.modeUnreadImportant__2ea32 .name__2ea32,
.modeUnreadImportant__2ea32:hover .name__2ea32,
.notInteractive__2ea32.modeConnected__2ea32 .name__2ea32,
.notInteractive__2ea32.modeSelected__2ea32 .name__2ea32 {
  color: #b4f9f8 !important;
}
.modeSelected__2ea32 .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32,
.modeUnreadImportant__2ea32 .icon__2ea32,
.modeUnreadImportant__2ea32:hover .icon__2ea32,
.mainContent__29444 .overflow_b0dfc2,
.mainContent__29444 {
  color: rgb(114, 218, 202) !important;
}
.theme-dark .unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116,
.theme-dark .unreadMentionsIndicatorBottom_ef3116 .unreadMentionsBar_ef3116,
.theme-dark .unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116,
.numberBadge__40d6f,
.unreadImportant__2ea32,
.newBadge__4f501 {
  background: rgba(51, 152, 148) !important;
}
