:root {
    --surCordBackground: rgb(0, 0, 0);
    --surCordBackground2: rgb(0,0,0);
    --surCordTextBackground: rgb(7,7,8);
    --surcordFriendsBackground: rgb(0, 0, 0);
    --surCordFriends: rgb(7,7,8);
    --surCordActiveNow: rgba(10, 10, 10);
    --surCordGuilds: rgb(0,0,0);
    --surCordTitleBar: rgb(0, 0, 0);
    --surCordSearch: rgb(7,7,8);
    --surCordHover: var(--accent-selected);
    --surCordBorder: rgb(25,25,25);
    } 
