:root {
    --surCordBackground: rgb(31, 30, 30);
    --surCordBackground2: rgb(42, 40, 44);
    --surCordTextBackground: rgb(30, 30, 30);
    --surcordFriendsBackground: rgb(33, 31, 35);
    --surCordFriends: rgb(40, 38, 42);
    --surCordActiveNow: rgba(88, 84, 85, 0.276);
    --surCordGuilds: rgb(42, 40, 44);
    --surCordTitleBar: rgb(55, 53, 55);
    --surCordSearch: rgb(53, 51, 55);
    --surCordHover: rgb(65, 63, 66);
    --surCordBorder: rgb(78,78,81);
  }
