:root {
    --surCordBackground: rgb(34, 33, 44);
    --surCordBackground2: rgb(43, 37, 63);
    --surCordTextBackground: rgb(21, 19, 32);
    --surcordFriendsBackground: rgb(11, 10, 16);
    --surCordFriends: rgb(34, 33, 44);
    --surCordActiveNow: rgb(43, 37, 63 .276);
    --surCordGuilds: rgb(43, 37, 63);
    --surCordTitleBar: rgb(21, 19, 32);
    --surCordSearch: rgb(21, 19, 32);
    --surCordHover: rgb(143, 188, 187, 0.200);
    --surCordBorder: rgb(78,78,81);
  }
