:root {
    --surCordBackground: rgb(33, 2, 1);
    --surCordBackground2: rgb(66, 7, 6);
    --surCordTextBackground: rgb(53, 14, 12);
    --surcordFriendsBackground: rgb(66, 7, 6);
    --surCordFriends: rgb(33, 2, 1);
    --surCordActiveNow: rgb(33, 2, 1, .276);
    --surCordGuilds: rgb(66, 7, 6);
    --surCordTitleBar: rgb(66, 7, 6);
    --surCordSearch: rgb(53, 14, 12);
    --surCordHover: rgba(152, 29, 22, 0.200);
    --surCordBorder: rgb(78,78,81);
  }
