:root {
    --surCordBackground: rgb(19, 18, 18);
    --surCordBackground2: rgb(30, 29, 29);
    --surCordTextBackground: rgb(34, 34, 34);
    --surcordFriendsBackground: rgb(18, 18, 18);
    --surCordFriends: rgb(30, 29, 29);
    --surCordActiveNow: rgb(46, 45, 45 0.276);
    --surCordGuilds: rgb(30, 29, 29);
    --surCordTitleBar: rgb(32, 31, 31);
    --surCordSearch: rgb(34, 34, 34);
    --surCordHover: rgb(45, 45, 45, 0.2);
    --surCordBorder: rgb(78,78,81);
  }
