:root {
    --surCordBackground: rgb(45, 52, 64);
    --surCordBackground2: rgb(59, 66, 82);
    --surCordTextBackground: rgb(76, 86, 106);
    --surcordFriendsBackground: rgb(45, 52, 64); 
    --surCordFriends: rgb(59, 66, 82);
    --surCordActiveNow: rgb(67, 76, 94, .276);
    --surCordGuilds: rgb(59, 66, 82);
    --surCordTitleBar: rgb(76, 86, 106);
    --surCordSearch: rgb(59, 66, 82);
    --surCordHover: rgb(143, 188, 187, 0.200);
    --surCordBorder: rgba(106, 120, 144, 0.501);
}
