/*
////////////////////////
//////Buttons
////////////////////////
*/


/* Buttons */
.button-2b4VEQ.buttonSize-3QlBTl, .lookFilled-yCfaCM.colorPrimary-2AuQVo, .popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ, .full-motion .button-1_oXub, .lookFilled-yCfaCM.colorBrand-I6CyqQ, .navButtonActive-1EqC5l {
    background-color: var(--accent);
    color: white;
    border-radius: 50px;
}
.popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ {
    border: 1px solid rgb(255, 255, 255); 
}
.button-2b4VEQ.buttonSize-3QlBTl:hover, .actionButton-3-B2x-:hover, .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover, .popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ:hover {
    background-color: var(--accent-hover);
    border-radius: 10px;
    transition: 0.3s;
}
.actionButton-3-B2x- {
    background-color: var(--accent);
    color: white;
}
.lookFilled-yCfaCM.colorRed-rQXKgM {
    background: linear-gradient(to bottom, rgb(238, 52, 48) 0%,rgb(238, 52, 48) 50%,rgba(205, 43, 40, 0.999) 100%);
    border-radius: 50px;
    border: 1px solid rgb(182, 0, 0); 
    box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.483);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM {
    background: linear-gradient(to bottom, rgb(255, 4, 0) 0%,rgb(255, 4, 0) 50%,rgba(255, 4, 0, 0.999) 100%);
    border-radius: 50px;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    background: linear-gradient(rgb(44, 192, 90), rgb(45, 179, 87)) ;
    border-radius: 50px;
}
.numberBadge-37OJ3S, .newBadge-1bHewI {
    background: linear-gradient(to bottom, rgb(238, 52, 48) 0%,rgb(238, 52, 48) 50%,rgba(238, 52, 48, 0.999) 100%);
    font-size: 10px;
  }
  .iconBackgroundTierNone-3M21Zn, .iconBackgroundTierOne-1S68CI, .iconBackgroundTierThree-2hfNBO, .iconBackgroundTierTwo-2XoNXD {
      color: var(--accent);
  }

/* Sidebar "selected" Accents */
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--accent) !important;
}
