/*
////////////////////////
//////Buttons
////////////////////////
*/


/* Buttons */
.button_d5f3cd.buttonSize_d5f3cd,
.lookFilled__201d5.colorPrimary__201d5,
.popoutBannerPremium_c3e427 .pencilContainer_c3e427,
.full-motion .button__292b6,
.lookFilled__201d5.colorBrand__201d5,
.navButtonActive__08434 {
    background-color: var(--accent);
    color: white;
    border-radius: 50px;
}
.popoutBannerPremium_c3e427 .pencilContainer_c3e427 {
    border: 1px solid rgb(255, 255, 255); 
}
.button_d5f3cd.buttonSize_d5f3cd:hover, .actionButton_f8fa06:hover, .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover, .popoutBannerPremium_c3e427 .pencilContainer_c3e427:hover {
    background-color: var(--accent-hover);
    border-radius: 10px;
    transition: 0.3s;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    border-radius: 10px;
    transition: 0.3s;
}
.actionButton_f8fa06 {
    background-color: var(--accent);
    color: white;
}
.lookFilled__201d5.colorRed__201d5 {
  background: linear-gradient(to bottom, rgb(238, 52, 48) 0%, rgb(238, 52, 48) 50%, rgba(205, 43, 40, 0.999) 100%);
  border-radius: 50px;
  border: 1px solid rgb(182, 0, 0);
}
.lookOutlined__201d5.colorRed__201d5  {
  background: linear-gradient(to bottom, rgb(255, 4, 0) 0%, rgb(255, 4, 0) 50%, rgba(255, 4, 0, 0.999) 100%);
  border-radius: 50px;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    background: linear-gradient(rgb(44, 192, 90), rgb(45, 179, 87)) ;
    border-radius: 50px;
}
.numberBadge__40d6f, .newBadge__4f501 {
    background: linear-gradient(to bottom, rgb(238, 52, 48) 0%,rgb(238, 52, 48) 50%,rgba(238, 52, 48, 0.999) 100%);
    font-size: 10px;
  }
  .iconBackgroundTierNone__97677, .iconBackgroundTierOne__97677, .iconBackgroundTierThree__97677, .iconBackgroundTierTwo__97677 {
      color: var(--accent);
  }

.theme-light {
    .lookOutlined-3yKVGo.colorRed-rQXKgM .contents-3ca1mk {
        color: white;
    }
}

/* Sliders */
.barFill-2Bh7CX {
    background: var(--brand-experiment);
}

/* Sidebar "selected" Accents */
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--accent) !important;
}
