/*
////////////////////////
//////Buttons
////////////////////////
*/


/* Buttons */
.button_f73214.buttonSize_d3cc45,
.lookFilled__950dd.colorPrimary_ebe632,
.popoutBannerPremium__84487 .pencilContainer_ae6d25,
.full-motion .button__292b6,
.lookFilled__950dd.colorBrand__27d57,
.navButtonActive__0c878 {
    background-color: var(--accent);
    color: white;
    border-radius: 50px;
}
.popoutBannerPremium__84487 .pencilContainer_ae6d25 {
    border: 1px solid rgb(255, 255, 255); 
}
.button_f73214.buttonSize_d3cc45:hover, .actionButton__2b4bb:hover, .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover, .popoutBannerPremium__84487 .pencilContainer_ae6d25:hover {
    background-color: var(--accent-hover);
    border-radius: 10px;
    transition: 0.3s;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    border-radius: 10px;
    transition: 0.3s;
}
.actionButton__2b4bb {
    background-color: var(--accent);
    color: white;
}
.lookFilled__950dd.colorRed__5a617 {
  background: linear-gradient(to bottom, rgb(238, 52, 48) 0%, rgb(238, 52, 48) 50%, rgba(205, 43, 40, 0.999) 100%);
  border-radius: 50px;
  border: 1px solid rgb(182, 0, 0);
}
.lookOutlined__014b5.colorRed__5a617  {
  background: linear-gradient(to bottom, rgb(255, 4, 0) 0%, rgb(255, 4, 0) 50%, rgba(255, 4, 0, 0.999) 100%);
  border-radius: 50px;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    background: linear-gradient(rgb(44, 192, 90), rgb(45, 179, 87)) ;
    border-radius: 50px;
}
.numberBadge__40d6f, .newBadge__4f501 {
    background: linear-gradient(to bottom, rgb(238, 52, 48) 0%,rgb(238, 52, 48) 50%,rgba(238, 52, 48, 0.999) 100%);
    font-size: 10px;
  }
  .iconBackgroundTierNone__38426, .iconBackgroundTierOne__019cb, .iconBackgroundTierThree__6ad51, .iconBackgroundTierTwo__4f3b5 {
      color: var(--accent);
  }

.theme-light {
    .lookOutlined-3yKVGo.colorRed-rQXKgM .contents-3ca1mk {
        color: white;
    }
}

/* Sliders */
.barFill-2Bh7CX {
    background: var(--brand-experiment);
}

/* Sidebar "selected" Accents */
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--accent) !important;
}
