/*
////////////////////////
//////Plugins
//////////////////////// 
*/

/* ---------- xenoLib/Lighty plugins ------------ */

/* In App Notifications */
.xenoLib-notification-content {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid rgb(146, 146, 146); 
    border-radius: 5px;
    background: rgba(41, 38, 39, 0.276);
}
.theme-light {
    .xenoLib-notification-content {
        border-radius: 5px;
        background: rgba(216, 215, 216, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        backdrop-filter: blur(20px);
    }
}

/* ---------- Samfundev plugins ------------ */
/* ChannelTabs */
.theme-dark .channelTabs-tab.channelTabs-selected {
  border-radius: 1px;
  border-bottom: solid 1px black;
  border-top: solid 0px black;
  background: var(--surCordBackground2) !important;
}

.theme-dark .channelTabs-tab {
  background: var(--surCordBackground) !important;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  border-right: solid .1px rgba(199, 199, 199, 0.236);
}

/* ---------- Cumcord plugins ------------ */

/* Spermbank by Swish */
[d="M6.5 10h-2v7h2v-7zm6 0h-2v7h2v-7zm8.5 9H2v2h19v-2zm-2.5-9h-2v7h2v-7zm-7-6.74L16.71 6H6.29l5.21-2.74m0-2.26L2 6v2h19V6l-9.5-5z"] {
    d: path(
      "m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"
    );
    transform: scale(1.5, 1.5);
}

/* ---------- Powercord/Replugged Buttons ------------ */
.buttons, 
.powercord-settings-item,
.powercord-product-footer {
    .directionRow-2Iu2A9 {
        left: unset;
    }
}
