/*
　 ,、　　　 　,､ ヾＶ'/
　r'ｰ》'´｀⌒ヾ‐》,//
　i　 iミ ノ ﾘハﾘ//
　!　iﾞ瓦ﾟ ヮﾟﾉ!'//|   WARNING!!!! YOU CAN VERY EASILY FUCK SOMETHING UP IF YOU DONT OPEN YOUR EYE BALLS!!!!
　!l! ! と.ﾌﾘ{つ/　!   IF YOU WOULD LIKE TO CHANGE THE ACCENT OF THIS THEME, YOU CAN VERY EASILY DO SO BY
,,ﾉﾘ |　v/_j_､ i!l　i   UNCOMMENTING ONE OF THE FOLLOWING COLORS. MAKE SURE ONLY >>>ONE<<< COLOR IS COMMENTED AT A TIME
..ゞノ　 ~じ'ﾌ~ﾙ'ノ
*/

/* Blue */
:root {
  --accent: rgb(26, 129, 251);
  --accent-hover: rgba(0, 78, 174, 0.977);
  --accent-selected: rgb(26, 129, 251, 0.612);
}


/* Red 
:root {
    --accent: rgb(237, 60, 68);
    --accent-hover: rgb(237, 60, 68, 0.977);
    --accent-selected: rgb(237, 60, 68, 0.612);
  } 
*/


/* Yellow
:root {
  --accent: rgb(	251, 192, 45);
  --accent-hover: rgba(	251, 192, 45, 0.977);
  --accent-selected: rgb(	251, 192, 45, 0.612);
}
*/


/* Pink 
  :root {
    --accent: rgb(248, 74, 156);
    --accent-hover: rgba(248, 74, 156, 0.977);
    --accent-selected: rgb(248, 74, 156, 0.612);
  }
*/


/* Hatsune 
:root {
  --accent: rgb(0, 166, 166);
  --accent-hover: rgb(255, 0, 128, 0.977);
  --accent-selected: rgb(255, 0, 128, 0.612);
}
*/

/* Dark/Black
:root {
  --accent: rgb(0,0,0);
  --accent-hover: rgb(0,0,0);
  --accent-selected: rgb(0,0,0);
}
*/
