/*
////////////////////////
/// Chat Area
////////////////////////
/*

/* Text Box */
.scrollableContainer-15eg7h, .hasConnectedBar-1vN2JH, .preview-QJ3OG3 {
    border-radius: 20px;
    border: 1px solid rgb(97, 96, 99); 
  }
  .scrollableContainer-15eg7h:hover {
    box-shadow: 0 0 2px 2px #4189c38c;
  }
.theme-light {
    .scrollableContainer-15eg7h, .hasConnectedBar-1vN2JH, .preview-QJ3OG3 {
        border-radius: 20px;
        background: rgba(231, 234, 237) !important; 
        border: 1px solid rgb(97, 96, 99); 
      }
      .scrollableContainer-15eg7h:hover {
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
      }
}
  .theme-dark .autocomplete-3NRXG8 {
    background: rgba(41, 38, 39, 0.276);
    backdrop-filter: blur(20px);
    border: 1px solid rgb(78, 78, 81); 
    }
    .upload-vLbqu- {
        background: rgba(8, 4, 5, 0.429);
        border: 1px solid rgb(78, 78, 81); 
    }
    .actionBar-1ozugS .wrapper-2vIMkT {
        background: rgba(8, 4, 5, 0.429);
        backdrop-filter: blur(3px);
        border: 1px solid rgb(78, 78, 81); 
        border-radius: 50px;
    }
.theme-light {
    .autocomplete-3NRXG8 {
        background: rgba(231, 234, 237, 0.436) !important; 
        backdrop-filter: blur(20px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        }
        .upload-vLbqu- {
            background: rgba(231, 234, 237, 0.436) !important; 
            border: 1px solid rgba(249, 249, 249, 0.772); 
        }
        .actionBar-1ozugS .wrapper-2vIMkT {
            background: rgba(231, 234, 237, 0.436) !important; 
            backdrop-filter: blur(20px);
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
            border: 1px solid rgba(249, 249, 249, 0.772); 
            border-radius: 50px;
        }
}
.autocompleteRowVerticalSmall-2rVED0 .base-2v-uc0:hover, .clickable-2V8YKY[aria-disabled=false]>.base-2v-uc0:hover {
    background-color: rgba(26, 127, 251, 0.612) !important; 
backdrop-filter: blur(10px);
}
    .clickable-2V8YKY[aria-disabled=false]>.base-2v-uc0:hover, .clickable-2V8YKY[aria-selected=true]>.base-2v-uc0 {
        background-color: rgba(26, 127, 251, 0.353) !important; 
    backdrop-filter: blur(10px);
    }

/* New Messages Banner */
.newMessagesBar-1hF-9G {
    background-color: var(--accent-selected) !important; 
    backdrop-filter: blur(10px);
    border-radius: 50px;
    margin-top: 2px;
}

/* Reply Bar */
.replyBar-1oi75v, .jumpToPresentBar-1cEnH0 {
    background-color: var(--accent-selected) !important; 
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding-bottom: 1px;
    margin-bottom: 12px;  
}
.attachedBars-2BCP3l, .clipContainer-31nYlH, .container-A2jo65, .channelTextArea-1FufC0 {
    background: transparent;
}

/* Embeds and MarkUp */
.grid-1aWVsE, .markup-eYLPri code, .attachment-1PZZB2, .theme-dark .wrapperAudio-1Bzv_Z{
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid rgb(78, 78, 81); 
    background: rgba(41, 38, 39, 0.276);
    font-family: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace;
}
.embedFull-1HGV2S {
        background-color: transparent;
    }
.theme-light {
    .grid-1aWVsE, .markup-eYLPri code, .attachment-1PZZB2, .theme-dark .wrapperAudio-1Bzv_Z{
        background: rgba(231, 234, 237, 0.436) !important; 
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        font-family: 'SF Mono', SFMono-Regular, ui-monospace,
        'DejaVu Sans Mono', Menlo, Consolas, monospace;
    }
}
/* Nitro Claim a Gift, Join a Server */
.description-X8_53U, .userSelectNone-3AtPzf  {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid rgb(78, 78, 81); 
    border-radius: 5px;
    background: rgba(41, 38, 39, 0.276);
}
.theme-light {
.description-X8_53U, .userSelectNone-3AtPzf {
    background: rgba(231, 234, 237, 0.436) !important; 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
    border: 1px solid rgba(249, 249, 249, 0.772); 
    border-radius: 5px;
}
}

/* Empty Channel Icon */
.emptyChannelIcon-1YdEz2 {
    background-color: var(--accent);
}

/* Reply Highlight */

#app-mount {
    .message-2CShn3 {
        margin-left: 5px;
        border-radius: vaR(--accent-focused); // ARG, MATEY! :KarenPirate:
        &::before {
            border-radius: 6px;
        }
    &.replying-eZ7p5z, &.ephemeral-2nDdnn {
        background-color: var(--accent-focused);
        &::before {
            background-color: var(--accent);
        }
        &:hover {
            background-color: var(--accent-focused);
        }
    }
}
}