/*
////////////////////////
/// Chat Area
////////////////////////
/*

/* Text Box */
.scrollableContainer_ff917f, .hasConnectedBar__7d21e, .preview__30ef4 {
    border-radius: 20px;
    border: 1px solid var(--surCordBorder); 
  }
  .scrollableContainer_ff917f:hover {
    box-shadow: 0 0 2px 2px var(--accent-selected);
  }
.theme-light {
    .scrollableContainer_ff917f, .hasConnectedBar__7d21e, .preview__30ef4 {
        border-radius: 20px;
        background: rgba(231, 234, 237) !important; 
        border: 1px solid rgb(97, 96, 99); 
      }
      .scrollableContainer_ff917f:hover {
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
      }
}
  .theme-dark .autocomplete__743a5 {
    background: rgba(41, 38, 39, 0.276);
    backdrop-filter: blur(20px);
    border: 1px solid var(--surCordBorder); 
    }
    .upload_c98ecb {
        background: rgba(8, 4, 5, 0.429);
        border: 1px solid var(--surCordBorder); 
    }
    .actionBar_a15295 .wrapper__4e6b6 {
        background: rgba(8, 4, 5, 0.429);
        backdrop-filter: blur(3px);
        border: 1px solid var(--surCordBorder); 
        border-radius: 50px;
    }
.theme-light {
    .autocomplete__743a5 {
        background: rgba(231, 234, 237, 0.436) !important; 
        backdrop-filter: blur(20px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        }
        .upload_c98ecb {
            background: rgba(231, 234, 237, 0.436) !important; 
            border: 1px solid rgba(249, 249, 249, 0.772); 
        }
        .actionBar_a15295 .wrapper__4e6b6 {
            background: rgba(231, 234, 237, 0.436) !important; 
            backdrop-filter: blur(20px);
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
            border: 1px solid rgba(249, 249, 249, 0.772); 
            border-radius: 50px;
        }
}
.autocompleteRowVerticalSmall__986c5 .base__87e58:hover, .clickable__0b25f[aria-disabled=false]>.base__87e58:hover {
    background-color: rgba(26, 127, 251, 0.612) !important; 
backdrop-filter: blur(10px);
}
    .clickable__0b25f[aria-disabled=false]>.base__87e58:hover, .clickable__0b25f[aria-selected=true]>.base__87e58 {
        background-color: rgba(26, 127, 251, 0.353) !important; 
    backdrop-filter: blur(10px);
    }

/* New Messages Banner */
.newMessagesBar__8b272 {
    background-color: var(--accent-selected) !important; 
    backdrop-filter: blur(10px);
    border-radius: 50px;
    margin-top: 2px;
}

/* Reply Bar */
.replyBar_ed6afc, .jumpToPresentBar__69174 {
    background-color: var(--accent-selected) !important; 
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding-bottom: 1px;
    margin-bottom: 12px;  
}
.attachedBars_c1606a, .clipContainer_ab9cf6, .container__72188, .channelTextArea_c2094b {
    background: transparent;
}

/* Embeds and MarkUp */
.grid__35551, .markup_a7e664 code, .attachment__06ca3, .theme-dark .wrapperAudio__178e9{
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    background: rgba(41, 38, 39, 0.276);
}
.embedFull__14919 {
        background-color: transparent;
    }
.theme-light {
    .grid__35551, .markup_a7e664 code, .attachment__06ca3, .theme-dark .wrapperAudio__178e9{
        background: rgba(231, 234, 237, 0.436) !important; 
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
    }
}
/* Nitro Claim a Gift, Join a Server */
.description__7d5ad, .userSelectNone_c16c2b  {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px;
    background: rgba(41, 38, 39, 0.276);
}
.theme-light {
.description__7d5ad, .userSelectNone_c16c2b {
    background: rgba(231, 234, 237, 0.436) !important; 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
    border: 1px solid rgba(249, 249, 249, 0.772); 
    border-radius: 5px;
}
}

/* Empty Channel Icon */
.emptyChannelIcon_d45c50 {
    background-color: var(--accent);
}

/* Reply Highlight */

#app-mount {
    .message_ccca67 {
        margin-left: 5px;
        border-radius: vaR(--accent-focused); // ARG, MATEY! :KarenPirate:
        &::before {
            border-radius: 6px;
        }
    &.mentioned_fa6fd2 {
            background-color: var(--accent-focused);
            &::before {
                background-color: var(--accent);
            }
            &:hover {
                background-color: var(--accent-focused);
            }
        }
    &.replying__38514, &.ephemeral_eb5d84 {
        background-color: var(--accent-focused);
        &::before {
            background-color: var(--accent);
        }
        &:hover {
            background-color: var(--accent-focused);
        }
    }
}
}
