
/*
////////////////////
////Fly Outs
///////////////////
*/

/* Pins/Inbox */
.messagesPopoutWrap-3zryHW, .container-2ebMPP {
    background: rgba(0, 0, 0, 0.436) !important; 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px;
}
.theme-light {
    .messagesPopoutWrap-3zryHW, .container-2ebMPP {
        background: rgba(231, 234, 237, 0.436) !important; 
        backdrop-filter: blur(20px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        border-radius: 5px;
    }
    .tab-TRrPC8 .active-1grPyy .item-3XjbnG selected-g-kMVV .themed-2-lozF {
        color: white;
    }
}
.header-1w9Q93, .footer-5ji8u1 {
    background: rgba(0, 0, 0, 0) !important; 
}
    .channelHeader-DFRX8q {
        border-radius: 20px;
        background: rgba(55, 55, 55, 0); 
        position: inherit;
    }
    .messageContainer-3VTXBC, .messages-23can0, .messageGroupWrapper-1jf_7C {
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
        border: 1px solid var(--surCordBorder); 
        border-radius: 5px;
    }
    .theme-light {
        .messageContainer-3VTXBC, .messages-23can0, .messageGroupWrapper-1jf_7C {
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
            border: 1px solid rgba(249, 249, 249, 0.772);
            border-radius: 5px;
        }
    }
    .collapseButton-39-IRc {
        left: 6px;
    }

/* Various Popouts */
.theme-dark .rootWithShadow-2hdL2J, .theme-dark .footerSeparator-3U8YsT {
  background: rgba(0, 0, 0, 0.436) !important; 
  backdrop-filter: blur(20px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder); 
  border-radius: 5px;
}

/* Quick Switcher */
.quickswitcher-pKcM9U {
    background: rgba(93, 93, 93, 0); 
}
.scroller-2qwVWY, .input-3r5zZY {
    background: rgba(93, 93, 93, 0);
}

/* User Popout */
 .popout_28, .userPopout-2j1gM4 { 
    background: rgba(0, 0, 0, 0.436) !important; 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 10px;
}
.theme-light {
.popout_28, .userPopout-2j1gM4 { 
    background: rgba(231, 234, 237, 0.436) !important; 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
    border: 1px solid rgba(249, 249, 249, 0.772); 
    border-radius: 10px;
}
}
.bodyInnerWrapper-2bQs1k, .footer-3naVBw {
    background: rgba(0, 0, 0, 0) !important; 
}
    .role-2TIOKu {
        border: 1px solid var(--surCordBorder); 
        border-radius: 10px;
    }
    .input-2z42oC {
        border-radius: 50px;
        background: rgba(107, 107, 107, 0.392) !important; 
        backdrop-filter: blur(10px);  
    }
    
/* Full User Popout */
.theme-dark .root-g14mjS, .container-2O1UgZ {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px;
    background: rgba(41, 38, 39, 0.276);
}
    .body-1Ukv50, .topSection-13QKHs {
        background: rgba(41, 38, 39, 0);
    }
.theme-light {
    .theme-dark .root-g14mjS, .container-2O1UgZ {
        background: rgba(231, 234, 237, 0.436) !important; 
        backdrop-filter: blur(20px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        border-radius: 5px;
    }
}

div#account.menu-2TXYjN.flexible-3B4jwn.menu-2-eHMB::after {
  background: none;
  backdrop-filter: none;
  box-shadow: none;
  border: 0px solid var(--surCordBorder);
}

/* Emoji Menu */
.contentWrapper-3vHNP2, .popoutContainer-2wbmiM {
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px;
}
.theme-light {
    .contentWrapper-3vHNP2, .popoutContainer-2wbmiM {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        backdrop-filter: blur(10px);
        border-radius: 5px;
    }
}
    .wrapper-3u51GQ .emojiPicker-6YCk8a {
         background-color: transparent;
         backdrop-filter: blur(10px);
     }
    .guildSection-2Zyzy8{
        background-color: transparent; 
    }
    .header-1ULbqO, .packHeader-w9jpYl {
      border-radius: 20px;
      background: rgba(55, 55, 55, 0); 
      position: inherit;
    }
    .inspector-DFKXwB, .categoryList-2qRrlj, .categoryList-2GgCrD{
        background-color: rgba(0, 0, 0, 0); 
    }
    .unicodeShortcut-3N8oDe, .standardStickerShortcut-ObSns3 {
        background: rgba(0, 0, 0, 0.933); 
    }
    .theme-light {
        .unicodeShortcut-3N8oDe, .standardStickerShortcut-ObSns3 {
            background: rgba(255, 255, 255, 0.353); 
            backdrop-filter: blur(10px);
        }
    }
    .button-1zW0-r {
    background-color: var(--accent-selected);
    backdrop-filter: blur(10px);
    }

/* Context & Status Menus */
.menu-2TXYjN {
  background: none;
}
.menu-2TXYjN::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.436); 
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder); 
  border-radius: 5px;
}

.theme-light {
  .menu-2TXYjN::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: inherit;
      background: rgba(226, 221, 225, 0.89);
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
      border: 1px solid rgba(249, 249, 249, 0.772); 
      backdrop-filter: blur(10px);
      border-radius: 5px;
  }
  .label-2gNW3x {
      color: black;
  }
}
.wrapper-2vIMkT {
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px;
}
.theme-light {
    .wrapper-2vIMkT {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        backdrop-filter: blur(10px);
        border-radius: 5px;
        color: black;
    }
}

.item-1OdjEX.colorDefault-CDqZdO:hover.hideInteraction-2jPGL_ {
    background: none !important;
}

/* Search Options */
.searchInput-3pIoTy {
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px; 
}
.resultsGroup-cfY57t { 
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px;
}
.searchOption-3u1gRt:hover, .option-ayUoaq:hover {
    background: var(--accent-selected) !important; 
    border-radius: 4px;
}
.theme-light {
    .searchInput-3pIoTy {
        background: rgba(231, 234, 237, 0.436) !important; 
        backdrop-filter: blur(10px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        border-radius: 5px; 
    }
    .resultsGroup-cfY57t { 
        background: rgba(231, 234, 237, 0.436) !important; 
        backdrop-filter: blur(10px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        border-radius: 5px;
    }
    .searchOption-3u1gRt:hover, .option-ayUoaq:hover {
        background: var(--accent-selected) !important; 
        border-radius: 4px;
    }
}

/* Search Results */
.searchResult-O9NDji, .scroller-3iiyhZ {
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    
    margin-top: 5px;
}
    .channelName-3w2Y3c, .searchResultsWrap-5RVOkx {
        background: transparent;   
    }
    .searchHeader-1r_ZSh {
        background: rgba(0, 0, 0, 0.436); 
        backdrop-filter: blur(10px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
        border: 1px solid var(--surCordBorder); 
        border-radius: 5px;
        border-radius: 20px;
        margin-right: 8px;
        margin-left: 5px;
        margin-top: 8px;
    }
    .searchHeader-1r_ZSh:hover {
        box-shadow: 0 0 2px 3px #4189c38c;
    }
.theme-light {
    .searchResult-O9NDji, .scroller-3iiyhZ {
        background: rgba(231, 234, 237, 0.436) !important; 
        backdrop-filter: blur(10px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        border-radius: 5px;
        margin-right: 5px;
        margin-left: 5px;
        
        margin-top: 5px;
    }
        .channelName-3w2Y3c, .searchResultsWrap-5RVOkx {
            background: transparent;   
        }
        .searchHeader-1r_ZSh {
            background: rgba(231, 234, 237, 0.436) !important; 
            backdrop-filter: blur(10px);
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
            border: 1px solid rgba(249, 249, 249, 0.772); 
            border-radius: 5px;
            border-radius: 20px;
            margin-right: 8px;
            margin-left: 5px;
            margin-top: 8px;
        }
        .searchHeader-1r_ZSh:hover {
            box-shadow: 0 0 2px 3px #4189c38c;
        }
    
}
    
/* Hovering over Menus */
.colorDefault-CDqZdO:hover {
    background: var(--accent-selected) !important; 
    border-radius: 4px;
}
    .label-2gNW3x {
        color: white;
    }

/* All Active Threads */
.container-3GP6AV, .header-3cSJjT {
    background: rgba(0, 0, 0, 0.59);
    backdrop-filter: blur(10px);
}
.container-2rzKKA {
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px;
}
.theme-light {
    .container-2rzKKA {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        backdrop-filter: blur(10px);
        border-radius: 5px;
    }
}
    .container-2rzKKA:hover {
     box-shadow: 0 0 3px 1px rgba(26, 127, 251, 0.612) !important; 
     border-radius: 4px;
     }
     .list-3YHPPb, .activeThreadsList-12IFYm {
         background-color: transparent;
     }

/* Footers */
.footer-31IekZ {
    background-color: transparent;
}
.footerSeparator-3U8YsT {
  border: white  solid 0px !important;
}

/* Notes area */
.textarea-_59yqs:focus {
    background: none !important;
}

/* Powercord/Replugged Notifications */
  .powercord-toast, .powercord-toast .contents .inner {
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
    border-radius: 5px;
  }

  .powercord-toast .header {
    background: var(--surCordTitleBar);
    border-bottom: .5px solid black;
    font-family: "Font Awesome 5 Pro" !important;
  }

/* Create a Server */
.theme-dark {
    .layer-1Ixpg3 {
        .subtitle-3m-md1,
        .title-1_TkpU,
        .optionHeader-27AHfD,
        .footerTitle-3Bslxi,
        .text-PdAsFQ,
        .subtitle-1cc8Nz,
        .title-OdeD-o,
        .text-sm-medium-3Pz3rB,
        .text-sm-normal-3Zj3Iv,
        .contents-3ca1mk,
        .subtitle-bIoUVX,
        .title-2Giw-4 {
            color: white !important;
        }
    }
    .container-x8Y1ix {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.483);
        border: 1px solid var(--surCordBorder);
        border-radius: 5px;
        background: var(--surCordFriends);
        margin-bottom: 13px;
        margin-top: 13px;
        padding-left: 10px;
    }
}

/* Nitro Payments */
.theme-dark {
.root-2s1-ri > * {
    background: rgba(0, 0, 0, 0.436);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
}
.tier2HeaderBackground-2XINxm {
    background-image: none;
}
.directionRow-2Iu2A9 {
    left: 0px;
}
.breadcrumbsWrapper--2LhnQ {
    padding: 23px 0;
}
}

/* The World's Shitiest Solution to a Very Simple Problem */
.layer-2BGhQ8,
.backdrop-2ByYRN,
.withLayer-2VVmpp,
.modal-3Crloo {
    z-index: 0;
}

