/*
-----------Font---------
> Uncomment the font-weight to enable San Fransisco Bold
> Designed by Apple in California - SAN FRANSISCO DISPLAY - https://developer.apple.com/fonts/ 
*/

@import url("https://raw.githubusercontent.com/czarhex/SanFranciscoFontCSS/main/SFFont.css");

* {
  --font-primary: "SF Pro Display",sans-serif;
  --font-display: "SF Pro Display",sans-serif;
  --font-headline: "SF Pro Display",sans-serif;
  --font-code: "SF Mono",mono,monospace;
  text-rendering: optimizeLegibility;
  // font-weight: bold;
  text-transform: none;
}
