/*
-----------Font---------
> Uncomment the font-weight to enable San Fransisco Bold
> Designed by Apple in California - https://developer.apple.com/fonts/ 
*/

@import url("https://rawcdn.githack.com/yurifuko/AppleFontsCSS/63d11c4a50ce8ee001f70870bbe4f2752983848d/Apple-fonts.css");

code, .codeBlockText__6172e, .codeLine__3797b, .markup_a7e664 code.inline, .after_inlineCode__2197d, .before_inlineCode__37e14, .inlineCode_d702a4 {
  font-family: "SF Mono",mono,monospace;
}

* {
  --font-primary: -apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;
  --font-display: -apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;
  --font-headline: -apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;
  text-rendering: optimizeLegibility;
  text-transform: none !important;
  letter-spacing: 0.015em;

  // font-weight: bold !important;
}