/*
////////////////////////
////Friends List 
////////////////////////
*/

/* Friends List Options */
.tabBar__73938 .item_e4ca95 {
    border-radius: 50px;
}

/* Friends themselves */
.peopleListItem_d14722 {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder);
    border-radius: 5px;
    background: var(--surCordFriends);
    margin-bottom: 13px;
    margin-top: 13px;
    padding-left: 10px;
}
.peopleListItem_d14722:hover {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px var(--accent);
    transition: 0.3s;
    border: 1px solid var(--surCordBorder);
    background: var(--surCordFriends);
    border-radius: 5px;
    background: rgba(41, 38, 39, 0.276);
    margin-bottom: 13px;
    margin-top: 13px;
}
.peopleListItem_d14722.active__6b8ff {
    background: rgba(41, 38, 39, 0.276);
    margin-top: 13px;
    border: 1px solid var(--surCordBorder);
    box-shadow: 0 0 3px 1px var(--accent);
    border-radius: 5px;
}
.peopleListItem_d14722.active__6b8ff+.peopleListItem_d14722, .peopleListItem_d14722:hover+.peopleListItem_d14722 {
    border: 1px solid var(--surCordBorder);
}
.actions_c08157 {
    padding-right: 10px;
}
.actionButton__23182 {
    margin-right: 13px;
}
.peopleColumn__51df3 {
    background: var(--surcordFriendsBackground);
    border-left: 0.5px solid black;
}
.highlight__5b64b {
    background-color: var(--accent-selected) !important;
}

.theme-light {
    .peopleColumn__51df3 {
        background: var(--background-primary);
        border-left: 0.5px solid rgba(186, 186, 186, 0.386);
    }
    .peopleListItem_d14722 {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772);
        backdrop-filter: blur(10px);
        border-radius: 5px;
        margin-bottom: 13px;
        margin-top: 13px;
        padding-left: 10px;
    }
    .peopleListItem_d14722:hover, .peopleListItem_d14722.active__6b8ff {
        box-shadow: 0 0 3px 1px var(--accent);
    }
    .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
    .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
    .interactiveSelected_ec846b,
    .interactiveSelected_ec846b .linkButtonIcon__2f35b {
        color: white;
    }
    .peopleListItem_d14722.active__6b8ff+.peopleListItem_d14722, .peopleListItem_d14722:hover+.peopleListItem_d14722 {
        border: 1px solid rgba(249, 249, 249, 0.772);
    }
}

/* Active Now */
.itemCard__1f162 {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder);
    border-radius: 5px;
    background: var(--surCordActiveNow);
    margin-bottom: 13px;
    margin-top: 13px;
    padding-left: 10px;
}
.section_efc22d:only-child {
    border: 1px solid var(--surCordBorder);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.483);
}

.theme-light {
    .itemCard__1f162 {
        background: rgba(216, 215, 216, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772);
        backdrop-filter: blur(20px);
        margin-bottom: 13px;
        margin-top: 13px;
        padding-left: 10px;
    }
    .section_efc22d:only-child {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772);
        backdrop-filter: blur(10px);
    }
}
.itemCard__1f162:hover {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(26, 127, 251, 0.487);
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid var(--surCordBorder);
    border-radius: 5px;
    background: rgba(41, 38, 39, 0.276);
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Add Friend Text Box*/
.addFriendInputWrapper__4bf8e .inputDefault-3FGxgL {
    border: 1px solid rgba(97, 96, 99, 0);
}
.addFriendInputWrapper__4bf8e {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder);
    border-radius: 5px;
    background: var(--surCordFriends);
    margin-bottom: 13px;
    margin-top: 13px;
    padding-left: 10px;
}
