/*
////////////////////////
////Friends List 
////////////////////////
*/

/* Friends List Options */
.tabBar-ra-EuL .item-3mHhwr {
    border-radius: 50px;
}

/* Friends themselves */
.peopleListItem-u6dGxF {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder);
    border-radius: 5px;
    background: var(--surCordFriends);
    margin-bottom: 13px;
    margin-top: 13px;
    padding-left: 10px;
}
.peopleListItem-u6dGxF:hover {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px var(--accent);
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid var(--surCordBorder);
    background: var(--surCordFriends);
    border-radius: 5px;
    background: rgba(41, 38, 39, 0.276);
    margin-bottom: 13px;
    margin-top: 13px;
}
.peopleListItem-u6dGxF.active-2UF8Zh {
    background: var(--surCordFriends);
    margin-top: 13px;
}
.actions-YHvpIT {
    padding-right: 10px;
}
.actionButton-3-B2x- {
    margin-right: 13px;
}
.peopleColumn-1wMU14 {
    background: var(--surcordFriendsBackground);
    border-left: 0.5px solid black;
}

.theme-light {
    .peopleColumn-1wMU14 {
        background: var(--background-primary);
        border-left: 0.5px solid rgba(186, 186, 186, 0.386);
    }
    .peopleListItem-u6dGxF {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772);
        backdrop-filter: blur(10px);
        border-radius: 5px;
        margin-bottom: 13px;
        margin-top: 13px;
        padding-left: 10px;
    }
    .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
    .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
    .interactiveSelected-29CP8y,
    .interactiveSelected-29CP8y .linkButtonIcon-7rsZcu {
        color: white;
    }
}

/* Active Now */
.itemCard-3Etziu {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder);
    border-radius: 5px;
    background: var(--surCordActiveNow);
    margin-bottom: 13px;
    margin-top: 13px;
    padding-left: 10px;
}
.section-3G9aLW:only-child {
    border: 1px solid var(--surCordBorder);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.483);
}

.theme-light {
    .itemCard-3Etziu {
        background: rgba(216, 215, 216, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772);
        backdrop-filter: blur(20px);
        margin-bottom: 13px;
        margin-top: 13px;
        padding-left: 10px;
    }
    .section-3G9aLW:only-child {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772);
        backdrop-filter: blur(10px);
    }
}
.itemCard-3Etziu:hover {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px 1px rgba(26, 127, 251, 0.487);
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid var(--surCordBorder);
    border-radius: 5px;
    background: rgba(41, 38, 39, 0.276);
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Add Friend Text Box*/
.addFriendInputWrapper-kkoSV9 .inputDefault-3FGxgL {
    border: 1px solid rgba(97, 96, 99, 0);
}
.addFriendInputWrapper-kkoSV9 {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder);
    border-radius: 5px;
    background: var(--surCordFriends);
    margin-bottom: 13px;
    margin-top: 13px;
    padding-left: 10px;
}
