/*
///////////////////////
//// Guilds
///////////////////////
*/
.theme-dark {
    .guilds_c48ade .scroller_ef3116,
    .wrapper_ef3116 {
        background-color: var(--surCordGuilds);
    }
    .platform-osx .unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116,
    .unreadMentionsIndicatorBottom_ef3116 .unreadMentionsBar_ef3116,
    .unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116 {
        background: linear-gradient(rgb(44, 192, 90), rgb(45, 179, 87));
        backdrop-filter: blur(5px);
    }
    .folderGroupBackground__48112 {
        backdrop-filter: blur(20px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
        border: 1px solid var(--surCordBorder);
        border-radius: 15px;
        background: rgba(41, 38, 39, 0.276);
    }
    .folderPreview__48112 {
        backdrop-filter: blur(20px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
        border: 1px solid var(--surCordBorder);
        border-radius: 15px;
        background: rgba(41, 38, 39, 0.276);
    }
    .folderGroupBackground__48112.collapsed__48112,
    .folderGroupBackground__48112.collapsed__48112.hover__48112 {
        display: none;
    }
    .hiddenVisually__27f77,
    .hiddenVisually__27f77:hover {
        background-color: #00000000;
    }
    .item__58105 {
        width: 8px;
        border-radius: 5px 5px 5px 5px;
        margin-left: 0px;
        background-color: rgb(145, 138, 152);
    }
    .circleIconButton__5bc7e {
        backdrop-filter: blur(20px);
        border: 1px solid var(--surCordBorder);
        border-radius: 15px;
        background: rgba(39, 38, 41, 0.276);
        color: var(--accent-selected);
    }
    .circleIconButton__5bc7e:hover {
        background: rgba(99, 81, 199, 0.276);
        color: var(--accent-selected);
    }
}

.theme-light {
    .guilds_c48ade .scroller_ef3116,
    .wrapper_ef3116 {
        background-color: rgb(225, 225, 225);
    }
    .platform-osx .unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116,
    .unreadMentionsIndicatorBottom_ef3116 .unreadMentionsBar_ef3116 {
        background: linear-gradient(rgb(44, 192, 90), rgb(45, 179, 87));
    }
    .folderGroupBackground__48112 {
        backdrop-filter: blur(20px);
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772);
        border-radius: 15px;
    }
    .folderPreview__48112 {
        backdrop-filter: blur(20px);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
        border: 1px solid rgb(186, 186, 186);
        border-radius: 15px;
        background: rgba(207, 222, 222, 0.276);
    }
    .folderGroupBackground__48112.collapsed__48112,
    .folderGroupBackground__48112.collapsed__48112.hover__48112 {
        display: none;
    }
    .hiddenVisually__27f77,
    .hiddenVisually__27f77:hover {
        background-color: #00000000;
    }
    .item__58105 {
        width: 8px;
        border-radius: 5px 5px 5px 5px;
        margin-left: 0px;
        background-color: rgb(145, 138, 152);
    }
    .circleIconButton__5bc7e {
        background: rgba(231, 234, 237, 0.436) !important;
        backdrop-filter: blur(20px);
        border: 1px solid rgb(186, 186, 186);
        border-radius: 15px;
        color: var(--accent-selected);
    }
    .circleIconButton__5bc7e:hover {
        background: rgba(99, 81, 199, 0.276);
        color: var(--accent-selected);
    }
}
