/*
////////////////////////////////////////
///Colors and other small details
////////////////////////////////////////
*/

/*
 /$$$$$$        /$$       /$$                              
/$$__  $$      | $$      | $$                              
| $$  \ $$  /$$$$$$$  /$$$$$$$  /$$$$$$  /$$$$$$$   /$$$$$$$
| $$$$$$$$ /$$__  $$ /$$__  $$ /$$__  $$| $$__  $$ /$$_____/
| $$__  $$| $$  | $$| $$  | $$| $$  \ $$| $$  \ $$|  $$$$$$ 
| $$  | $$| $$  | $$| $$  | $$| $$  | $$| $$  | $$ \____  $$
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$/| $$  | $$ /$$$$$$$/
|__/  |__/ \_______/ \_______/ \______/ |__/  |__/|_______/ 
*/

/* Uncomment the `@use` to enable Radial Status */
//@use 'fixations/additions/radialstatus.css';

/* Uncomment the `@import url` to enable Apple Emojis */
/* MWITTRIEN - EMOJIREPLACE - LICENCE https://github.com/mwittrien/BetterDiscordAddons/blob/master/LICENSE */
//@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");

/*
 /$$      /$$                 /$$           /$$                    
| $$$    /$$$                | $$          | $$                    
| $$$$  /$$$$  /$$$$$$   /$$$$$$$ /$$   /$$| $$  /$$$$$$   /$$$$$$$
| $$ $$/$$ $$ /$$__  $$ /$$__  $$| $$  | $$| $$ /$$__  $$ /$$_____/
| $$  $$$| $$| $$  \ $$| $$  | $$| $$  | $$| $$| $$$$$$$$|  $$$$$$ 
| $$\  $ | $$| $$  | $$| $$  | $$| $$  | $$| $$| $$_____/ \____  $$
| $$ \/  | $$|  $$$$$$/|  $$$$$$$|  $$$$$$/| $$|  $$$$$$$ /$$$$$$$/
|__/     |__/ \______/  \_______/ \______/ |__/ \_______/|_______/ 
*/

/* LUCKFIRE - macOS Title Bar - LICENSE https://github.com/discord-extensions/macos-titlebar/blob/master/LICENSE */
.platform-win .typeWindows_a934d8 {
  z-index: 102;
  position: absolute;
  flex-direction: row;
  align-items: center;
  top: 1px;
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-right: 9px;
  padding-left: 3px;
  -webkit-app-region: drag;
}
.platform-win .typeWindows_a934d8 .wordmark_a934d8 {
  top: 11px;
  left: 11px;
  width: 52px;
  height: 12px;
  padding: 0;
  -webkit-app-region: no-drag;
}
.platform-win .typeWindows_a934d8 .wordmark_a934d8 g {
  display: none;
}
.platform-win .typeWindows_a934d8 .winButton_a934d8 {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 15px;
  background-color: var(--background-primary);
  background-size: 0;
  -webkit-app-region: no-drag;
}
.platform-win .typeWindows_a934d8 .winButton_a934d8 svg {
  display: none;
}
.platform-win.app-focused .typeWindows_a934d8:hover div.winButton_a934d8 {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.platform-win.app-focused .typeWindows_a934d8 .winButtonClose_a934d8 {
  background-color: #ff5c57;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
}
.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(2n) {
  background-color: #fdbd3d;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
}
.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(3n) {
  order: 3;
  background-color: #26c84b;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
}

.guilds_a4d4d9 {
  margin-top: 29px;
}

.notice__5fd4c, .bd-notice:first-child {
  z-index: 103;
  -webkit-app-region: drag;
  border-radius: 0;
}

.standardSidebarView_c25c6d {
  z-index: unset;
}
.standardSidebarView_c25c6d .sidebarRegionScroller_c25c6d {
  z-index: 103;
}
.standardSidebarView_c25c6d .contentRegion_c25c6d {
  z-index: 103;
}
.standardSidebarView_c25c6d .contentColumn_c25c6d {
  -webkit-app-region: no-drag;
}

.platform-win .sidebar_a4d4d9 {
  border-radius: 0;
}
.platform-win .sidebar_a4d4d9 .header_fd6364, .platform-win .sidebar_a4d4d9 .searchBar_f0963d {
  z-index: 103;
}
.platform-win .sidebar_a4d4d9 .header_fd6364, .platform-win .sidebar_a4d4d9 .searchBarComponent_f0963d {
  -webkit-app-region: no-drag;
}
.platform-win .sidebar_a4d4d9 .searchBar_f0963d {
  -webkit-app-region: drag;
}

.chat_a7d72e {
  z-index: 103;
}

.container_fc4f04 {
  z-index: 103;
  -webkit-app-region: drag;
}
.container_fc4f04 .topic_bf3bbb, .container_fc4f04 .title_a7d72e, .container_fc4f04 .nicknames__12efb > div, .container_fc4f04 .item_c2739c {
  -webkit-app-region: no-drag;
}

/* TROPICAL - CHECKBOXES - SLATE THEME - https://github.com/DiscordStyles/Slate/blob/master/LICENSE.md */
/* epic */
#app-mount .container_cebd1c, .input_cebd1c,
#app-mount .container_cebd1c, .input_cebd1c,
#app-mount .checkboxWrapper-2fDzaA .input-2XRLou,
#app-mount .checkboxWrapper-2fDzaA .input-3xr72x {
  margin: 0;
  opacity: 1;
  height: 14px !important;
  width: 14px !important;
  position: relative;
  cursor: var(--cursor);
  -webkit-appearance: checkbox;
  appearance: checkbox;
}
#app-mount  .container_cebd1c,
#app-mount .checkboxWrapper-2fDzaA {
  width: auto;
  border-radius: 0;
  background: transparent !important;
  display: flex;
  align-items: center;
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: var(--cursor);
}
input[type="checkbox"] {
  accent-color: var(--accent);
}
#app-mount .container_cebd1c .slider_cebd1c,
#app-mount .checkboxWrapper-2fDzaA .slider_cebd1c {
  display: none;
}
.theme-dark .checkbox-f1HnKB {
  display: none;
}

/* VOZER - Compact Powercord - LICENSE - https://github.com/SlippingGitty/Compact-Powercord/blob/main/LICENSE */
.powercord-product {
  padding: 9px;
  margin-bottom: 13px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
}
.powercord-product-header h4 {
  font-size: 16px;
}
.powercord-product .divider_b8ab18 {
  display: none;
}
.description,
.powercord-product .metadata,
.powercord-product-permissions,
.powercord-product-footer {
  margin-top: 4px;
  font-size: 13px;
}

/* Color Pallete */
.theme-dark {
  --background-tertiary: var(--surCordBackground2);
  --background-secondary: var(--surCordBackground2);
  --background-secondary-alt: var(--surCordBackground2);
  --background-primary: var(--surCordBackground);
  --channeltextarea-background: var(--surCordTextBackground);
  --background-accent: var(--accent);
  --background-modifier-hover: var(--surCordHover);
  --background-modifier-active: rgb(30, 30, 30);
  --background-modifier-selected: var(--accent-selected);
  --deprecated-card-bg: #12141f63;
  --background-floating: rgba(35, 35, 35, 0.771);
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --toast-background: #000000 !important;
  --toast-header: #000000 !important;
  --toast-contents: #000000 !important;
  --brand-experiment-500: var(--accent-selected);
  --brand-experiment-560: var(--accent-selected);
}

.theme-light {
  --background-tertiary: rgb(225, 225, 225);
  --background-secondary: rgb(225, 225, 225);
  --background-secondary-alt: rgb(225, 225, 225);
  --background-primary: rgb(231, 234, 237);
  --channeltextarea-background: rgb(213, 213, 213);
  --background-accent: var(--accent);
  --background-modifier-hover: rgb(213, 214, 214);
  --background-modifier-active: rgb(231, 231, 231);
  --background-modifier-selected: var(--accent-selected);
  --deprecated-card-bg: #12141f63;
  --background-floating: rgba(236, 236, 236, 0.771);
  --deprecated-quickswitcher-input-background: rgba(237, 237, 237);
  --elevation-low: none;
  --toast-background: #ffffff !important;
  --toast-header: #ffffff !important;
  --toast-contents: #ffffff !important;
  --brand-experiment-500: var(--accent-selected);
  --brand-experiment-560: var(--accent-selected);

  .clickable_fc4f04 .icon_fc4f04,
  .linkButtonIcon_c91bad {
    color: var(--accent);
  }
}

/* Links */
:root {
  --text-link: var(--accent);
}

/* Scrollbars */
.scroller_e2e187,
.auto-2K3UW5,
.peopleColumn_c2739c {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.scroller_e2e187,
.auto-2K3UW5,
.thin_eed6a8,
.peopleColumn_c2739c {
  &::-webkit-scrollbar-thumb {
    background-color: rgb(139, 139, 139);
  }
}

/* Explore public servers */
.theme-dark .pageWrapper_a3a4ce {
  background-color: var(--surCordBackground2);
}
.theme-light .pageWrapper_a3a4ce {
  background-color: rgb(225, 225, 225);
}

/* Server home page */
.theme-dark .background_c54132 {
  background-color: var(--surCordBackground);
}

/* Server boost page */
.theme-dark .perksModal-CLcR1c {
  background-color: var(--surCordBackground);
}

/* Forum channel background */
.theme-dark .container-3wLKDe {
  background-color: var(--surCordBackground2);
}

/* Add surCord Branding */
.info_c5a741 > span:first-child::after {
  content: "\asurCord 10.2023";
  color: var(--text-muted);
  white-space: pre;
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
  line-height: 17px !important;
}
