/*
////////////////////////////////////////
///Colors and other small details
////////////////////////////////////////
*/

/*
 /$$$$$$        /$$       /$$                              
/$$__  $$      | $$      | $$                              
| $$  \ $$  /$$$$$$$  /$$$$$$$  /$$$$$$  /$$$$$$$   /$$$$$$$
| $$$$$$$$ /$$__  $$ /$$__  $$ /$$__  $$| $$__  $$ /$$_____/
| $$__  $$| $$  | $$| $$  | $$| $$  \ $$| $$  \ $$|  $$$$$$ 
| $$  | $$| $$  | $$| $$  | $$| $$  | $$| $$  | $$ \____  $$
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$/| $$  | $$ /$$$$$$$/
|__/  |__/ \_______/ \_______/ \______/ |__/  |__/|_______/ 
*/

/* Uncomment the `@use` to enable Radial Status */
//@use 'fixations/additions/radialstatus.css';

/* Uncomment the `@import url` to enable Apple Emojis */
/* MWITTRIEN - EMOJIREPLACE - LICENCE https://github.com/mwittrien/BetterDiscordAddons/blob/master/LICENSE */
//@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");

/*
 /$$      /$$                 /$$           /$$                    
| $$$    /$$$                | $$          | $$                    
| $$$$  /$$$$  /$$$$$$   /$$$$$$$ /$$   /$$| $$  /$$$$$$   /$$$$$$$
| $$ $$/$$ $$ /$$__  $$ /$$__  $$| $$  | $$| $$ /$$__  $$ /$$_____/
| $$  $$$| $$| $$  \ $$| $$  | $$| $$  | $$| $$| $$$$$$$$|  $$$$$$ 
| $$\  $ | $$| $$  | $$| $$  | $$| $$  | $$| $$| $$_____/ \____  $$
| $$ \/  | $$|  $$$$$$/|  $$$$$$$|  $$$$$$/| $$|  $$$$$$$ /$$$$$$$/
|__/     |__/ \______/  \_______/ \______/ |__/ \_______/|_______/ 
*/

/* TROPICAL - CHECKBOXES - SLATE THEME - https://github.com/DiscordStyles/Slate/blob/master/LICENSE.md */
/* epic */
#app-mount .container__87bf1, .input__87bf1,
#app-mount .container__87bf1, .input__87bf1,
#app-mount .checkboxWrapper-2fDzaA .input-2XRLou,
#app-mount .checkboxWrapper-2fDzaA .input-3xr72x {
  margin: 0;
  opacity: 1;
  height: 14px !important;
  width: 14px !important;
  position: relative;
  cursor: var(--cursor);
  -webkit-appearance: checkbox;
  appearance: checkbox;
}
#app-mount  .container__87bf1,
#app-mount .checkboxWrapper-2fDzaA {
  width: auto;
  border-radius: 0;
  background: transparent !important;
  display: flex;
  align-items: center;
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: var(--cursor);
}
input[type="checkbox"] {
  accent-color: var(--accent);
}
#app-mount .container__87bf1 .slider__87bf1,
#app-mount .checkboxWrapper-2fDzaA .slider__87bf1 {
  display: none;
}
.theme-dark .checkbox-f1HnKB {
  display: none;
}

/* VOZER - Compact Powercord - LICENSE - https://github.com/SlippingGitty/Compact-Powercord/blob/main/LICENSE */
.powercord-product {
  padding: 9px;
  margin-bottom: 13px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
}
.powercord-product-header h4 {
  font-size: 16px;
}
.powercord-product .divider_c87e85 {
  display: none;
}
.description,
.powercord-product .metadata,
.powercord-product-permissions,
.powercord-product-footer {
  margin-top: 4px;
  font-size: 13px;
}

/* Color Pallete */
.theme-dark {
  --background-tertiary: var(--surCordBackground2);
  --background-secondary: var(--surCordBackground2);
  --background-secondary-alt: var(--surCordBackground2);
  --background-primary: var(--surCordBackground);
  --channeltextarea-background: var(--surCordTextBackground);
  --background-accent: var(--accent);
  --background-modifier-hover: var(--surCordHover);
  --background-modifier-active: rgb(30, 30, 30);
  --background-modifier-selected: var(--accent-selected);
  --deprecated-card-bg: #12141f63;
  --background-floating: rgba(35, 35, 35, 0.771);
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --toast-background: #000000 !important;
  --toast-header: #000000 !important;
  --toast-contents: #000000 !important;
  --brand-experiment-500: var(--accent-selected);
  --brand-experiment-560: var(--accent-selected);
}

.theme-light {
  --background-tertiary: rgb(225, 225, 225);
  --background-secondary: rgb(225, 225, 225);
  --background-secondary-alt: rgb(225, 225, 225);
  --background-primary: rgb(231, 234, 237);
  --channeltextarea-background: rgb(213, 213, 213);
  --background-accent: var(--accent);
  --background-modifier-hover: rgb(213, 214, 214);
  --background-modifier-active: rgb(231, 231, 231);
  --background-modifier-selected: var(--accent-selected);
  --deprecated-card-bg: #12141f63;
  --background-floating: rgba(236, 236, 236, 0.771);
  --deprecated-quickswitcher-input-background: rgba(237, 237, 237);
  --elevation-low: none;
  --toast-background: #ffffff !important;
  --toast-header: #ffffff !important;
  --toast-contents: #ffffff !important;
  --brand-experiment-500: var(--accent-selected);
  --brand-experiment-560: var(--accent-selected);

  .clickable__9293f .icon__9293f,
  .linkButtonIcon__972a0 {
    color: var(--accent);
  }
}

/* Links */
:root {
  --text-link: var(--accent);
}

/* Scrollbars */
.scroller__36d07,
.auto-2K3UW5,
.peopleColumn__133bf {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.scroller__36d07,
.auto-2K3UW5,
.thin__99f8c,
.peopleColumn__133bf {
  &::-webkit-scrollbar-thumb {
    background-color: rgb(139, 139, 139);
  }
}

/* Explore public servers */
.theme-dark .pageWrapper_a3a4ce {
  background-color: var(--surCordBackground2);
}
.theme-light .pageWrapper_a3a4ce {
  background-color: rgb(225, 225, 225);
}

/* Server home page */
.theme-dark .background_c54132 {
  background-color: var(--surCordBackground);
}

/* Server boost page */
.theme-dark .perksModal-CLcR1c {
  background-color: var(--surCordBackground);
}

/* Forum channel background */
.theme-dark .container-3wLKDe {
  background-color: var(--surCordBackground2);
}

/* Add surCord Branding */
.info__2debe > span:first-child::after {
  content: "\asurCord 6.2025-ALPHA";
  color: var(--text-muted);
  white-space: pre;
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
  line-height: 17px !important;
}



/* 

Y88b      / ,e,                           888                      
 Y88b    /   "   d88~\ 888  888   /~~~8e  888                      
  Y88b  /   888 C888   888  888       88b 888                      
   Y888/    888  Y88b  888  888  e88~-888 888                      
    Y8/     888   888D 888  888 C888  888 888                      
     Y      888 \_88P  "88_-888  "88_-888 888                      
                                                                   
888~-_                   888                  ,e,       /          
888   \   e88~~8e   e88~\888  e88~~8e   d88~\  "  e88~88e 888-~88e 
888    | d888  88b d888  888 d888  88b C888   888 888 888 888  888 
888   /  8888__888 8888  888 8888__888  Y88b  888 "88_88" 888  888 
888_-~   Y888    , Y888  888 Y888    ,   888D 888  /      888  888 
888 ~-_   "88___/   "88_/888  "88___/  \_88P  888 Cb      888  888 
                                                   Y8""8D          
*/


.scrollerInner__36d07 {
  background-color: var(--surCordBackground);
}

.visual-refresh .form_f75fb0 {
  background-color: var(--surCordBackground);
}

.members_c8ffbb,
.membersListNotices_c8ffbb {
  background-color: var(--surCordBackground2);
}

.scroller__36d07 {
  background-color: var(--surCordBackground);
}

.visual-refresh .scroller__629e4,
.childContainer__91a9d {
  background-color: var(--surCordBackground2);
}

.visual-refresh .sidebar_c48ade:after,
.visual-refresh .panels_c48ade,
.panels_c48ade,
.visual-refresh .scroller__99e7c,
.visual-refresh .sidebarListRounded_c48ade {
  background-color: var(--surCordBackground2) !important;
}

.platform-win .sidebar_c48ade {
  background-color: var(--surCordGuilds);
}

.scrollableContainer__74017,
.hasStackedBar__74017,
.preview__3e443,
.visual-refresh .channelAttachmentArea_b77158 {
  background-color: var(--surCordTextBackground);
}

.visual-refresh .channelTextArea_f75fb0 {
  background-color: transparent;
}

.visual-refresh .container__2637a {
  background: var(--surCordBackground2);
}

.theme-dark .container__37e49 {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder);
}

.visual-refresh .wrapperAudio_cf09d8,
.visual-refresh .grid__623de,
.visual-refresh .container_d9c882,
.visual-refresh .header_d9c882,
.visual-refresh .upload_aa605f {
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder);
}

.message__5126c.selected__5126c .buttonsInner__5126c,
.mouse-mode .message__5126c:hover .buttonsInner__5126c {
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder);
}

.visual-refresh .container__37e49,
.visual-refresh .privateChannels__35e86 {
  background: transparent;
}

.guilds_c48ade {
  margin-top: 0px;
}

.visual-refresh .channelTextArea_f75fb0 {
  background: rgba(0, 0, 0, 0);
  border: 0px;
}

.visual-refresh .replyBar__841c8,
.visual-refresh .threadSuggestionBar__841c8 {
  border: 0px;
}

.button_d5f3cd.buttonSize_d5f3cd,
.lookFilled__201d5.colorPrimary__201d5,
.popoutBannerPremium_c3e427 .pencilContainer_c3e427,
.full-motion .button__292b6,
.lookFilled__201d5.colorBrand__201d5,
.navButtonActive__08434 {
  border: var(--surCordBorder);
  background-color: var(--surCordTextBackground);
  color: #fff;
  border-radius: 50px;
}

.visual-refresh .sidebarRegionScroller__23e6b {
  background: var(--surCordBackground2);
}

.visual-refresh.platform-win .contentRegionScroller__23e6b {
  background-color: var(--surCordTextBackground);

}

.visual-refresh .contentWrapper__08434 {
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder);
}

.visual-refresh .emojiPickerHasTabWrapper_c0e32c .header_c0e32c,
.scroller_affa7e,
.visual-refresh .wrapper__14245,
.visual-refresh .header__8ef02,
.visual-refresh .header_fed6d3 {
  background: rgba(0, 0, 0, 0.436);
}

.visual-refresh .inspector_aeaaeb {
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
}

