
/* 

Y88b      / ,e,                           888                      
 Y88b    /   "   d88~\ 888  888   /~~~8e  888                      
  Y88b  /   888 C888   888  888       88b 888                      
   Y888/    888  Y88b  888  888  e88~-888 888                      
    Y8/     888   888D 888  888 C888  888 888                      
     Y      888 \_88P  "88_-888  "88_-888 888                      
                                                                   
888~-_                   888                  ,e,       /          
888   \   e88~~8e   e88~\888  e88~~8e   d88~\  "  e88~88e 888-~88e 
888    | d888  88b d888  888 d888  88b C888   888 888 888 888  888 
888   /  8888__888 8888  888 8888__888  Y88b  888 "88_88" 888  888 
888_-~   Y888    , Y888  888 Y888    ,   888D 888  /      888  888 
888 ~-_   "88___/   "88_/888  "88___/  \_88P  888 Cb      888  888 
                                                   Y8""8D          
*/


.scrollerInner__36d07 {
  background-color: var(--surCordBackground);
}

.visual-refresh .form_f75fb0 {
  background-color: var(--surCordBackground);
}

.members_c8ffbb,
.membersListNotices_c8ffbb {
  background-color: var(--surCordBackground2);
}

.scroller__36d07 {
  background-color: var(--surCordBackground);
}

.visual-refresh .scroller__629e4,
.childContainer__91a9d {
  background-color: var(--surCordBackground2);
}

.visual-refresh .sidebar_c48ade:after,
.visual-refresh .panels_c48ade,
.panels_c48ade,
.visual-refresh .scroller__99e7c,
.visual-refresh .sidebarListRounded_c48ade {
  background-color: var(--surCordBackground2) !important;
}

.platform-win .sidebar_c48ade {
  background-color: var(--surCordGuilds);
}

.scrollableContainer__74017,
.hasStackedBar__74017,
.preview__3e443,
.visual-refresh .channelAttachmentArea_b77158 {
  background-color: var(--surCordTextBackground);
}

.visual-refresh .channelTextArea_f75fb0 {
  background-color: transparent;
}

.visual-refresh .container__2637a {
  background: var(--surCordBackground2);
}

.theme-dark .container__37e49 {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder);
}

.visual-refresh .wrapperAudio_cf09d8,
.visual-refresh .grid__623de,
.visual-refresh .container_d9c882,
.visual-refresh .header_d9c882,
.visual-refresh .upload_aa605f {
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder);
}

.message__5126c.selected__5126c .buttonsInner__5126c,
.mouse-mode .message__5126c:hover .buttonsInner__5126c {
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder);
}

.visual-refresh .container__37e49,
.visual-refresh .privateChannels__35e86 {
  background: transparent;
}

.guilds_c48ade {
  margin-top: 0px;
}

.visual-refresh .channelTextArea_f75fb0 {
  background: rgba(0, 0, 0, 0);
  border: 0px;
}

.visual-refresh .replyBar__841c8,
.visual-refresh .threadSuggestionBar__841c8 {
  border: 0px;
}

.button_d5f3cd.buttonSize_d5f3cd,
.lookFilled__201d5.colorPrimary__201d5,
.popoutBannerPremium_c3e427 .pencilContainer_c3e427,
.full-motion .button__292b6,
.lookFilled__201d5.colorBrand__201d5,
.navButtonActive__08434 {
  border: var(--surCordBorder);
  background-color: var(--surCordTextBackground);
  color: #fff;
  border-radius: 50px;
}

.visual-refresh .sidebarRegionScroller__23e6b {
  background: var(--surCordBackground2);
}

.visual-refresh.platform-win .contentRegionScroller__23e6b {
  background-color: var(--surCordTextBackground);

}

.visual-refresh .contentWrapper__08434 {
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
  border: 1px solid var(--surCordBorder);
}

.visual-refresh .emojiPickerHasTabWrapper_c0e32c .header_c0e32c,
.scroller_affa7e,
.visual-refresh .wrapper__14245,
.visual-refresh .header__8ef02,
.visual-refresh .header_fed6d3 {
  background: rgba(0, 0, 0, 0.436);
}

.visual-refresh .inspector_aeaaeb {
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
}
