/*
//////////////////////////
/////Settings
//////////////////////////
*/

/* Account Profile Card */
.accountProfileCard-lbN7n-, .profileBannerPreview-3mLIdO {
    background: rgba(0, 0, 0, 0.436); 
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid rgb(78, 78, 81); 
    border-radius: 5px;
}
.fieldList-in8WkP, .background-3d_SjE {
    background-color: transparent;
}