/*
////////////////////
///Sidebars
////////////////////
*/

/* Discord Logo */
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .wrapper__8436d:hover .childWrapper_a6ce15 {
    background-color: var(--accent);
}


/* Channel Bars */
.content__01e65 { 
    border-left: .5px solid black;
}

.theme-light {
.item-3XjbnG .selected-g-kMVV .channelName-3KPsGw, .modeSelected__473f1 .channelName-3KPsGw {
    color: white;
}
.content__01e65 { 
    border-left: .5px solid rgba(186, 186, 186, 0.386);
}
}

/* User Settings + VC Controls -- Fix by Lucism & Domi */
.panels__58331 {
    border-radius: 20px;
    margin-bottom: 18px;
    margin-right: 5px;
    margin-left: 2px;
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
}

.theme-light {
    .panels__58331 {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        backdrop-filter: blur(10px);
        border-radius: 20px;
        margin-bottom: 18px;
        margin-right: 5px;
        margin-left: 2px;
    }
}

.interactiveSelected__689f0 {
    background: var(--accent-selected) !important; 
    backdrop-filter: blur(20px);
}

.withTagAsButton_e22174:hover, .withTagless__058f8:hover {
    border-radius: 16px;
}

.container_e1958d, .container_debb33 {
  border-radius: 20px;
}

.container_debb33, .container_debb33 .avatar_f8541f {
  border-radius: 20px;
}

.theme-dark .container_debb33 {
  background: rgba(0, 0, 0, 0);
}

.avatar_f8541f {
    left: .7px;
}

/* Channels */
.modeSelected__473f1 .icon__67ab4, .modeSelected__473f1:hover .icon__67ab4, .modeUnreadImportant__35358 .icon__67ab4, .modeUnreadImportant__35358:hover .icon__67ab4, .mainContent__2333c .overflow__993fa, .mainContent__2333c {
    color: white;
}
.iconContainer__6a580[aria-label="Text (Age-Restricted)"]>svg {
    color: #ff5252 !important;
}
.icon__67ab4, .modeSelected__473f1 .wrapper__612a5, .modeSelected__473f1:hover .wrapper__612a5 {
    color: var(--accent);
}
.modeSelected__473f1 .wrapper__612a5, .modeSelected__473f1:hover .wrapper__612a5 {
    background-color: var(--accent) !important;
}
.modeUnreadImportant__35358 .icon__67ab4  {
       color: rgb(44, 192, 90); 
}
.actionIcon_b149a2 {
    color: rgb(255, 255, 255);
}
.addButtonIcon_d9a52c {
    border-radius: 50%; 
    color: rgb(44, 192, 90);
}
.unreadImportant_e8bb44, .unreadImportant_e8bb44 {
    background: linear-gradient(rgb(44, 192, 90), rgb(45, 179, 87)) ;
    width: 8px;
    border-radius: 5px 5px 5px 5px; 
}

.theme-light {
    .mainContent__2333c .overflow__993fa {
        color:black;
    }
}

/* Members Side Bar */
.membersWrap__5ca6b {
    border-left: .5px solid rgb(0, 0, 0); 
}

.theme-light {
    .membersWrap__5ca6b {
        border-left: .5px solid rgba(186, 186, 186, 0.386); 
    }
}

/* Voice Chat Controls */
.buttonContents__85ccf {
        font-size: 0px;
}
.buttonIcon__64412.withText_c9528c {
    margin-right: 0px;
}

/* User Area */
.avatarWrapper__500a6 {
    margin-right: 0px;
}

/* PC-Spotify */
.fa, .fab, .fad, .fal, .far, .fas, .powercord-spotify .spotify-buttons button > div {
    font-family: "Font Awesome 5 Pro" !important;
}
