/*
////////////////////
///Sidebars
////////////////////
*/

/* Discord Logo */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--accent);
}


/* Channel Bars */
.sidebar-1tnWFu { 
    border-right: .5px solid black;
}

.theme-light {
    .sidebar-1tnWFu { 
      border-right: .5px solid rgba(186, 186, 186, 0.386);
}
.item-3XjbnG .selected-g-kMVV .channelName-3KPsGw, .modeSelected-3DmyhH .channelName-3KPsGw {
    color: white;
}
}

/* User Settings + VC Controls -- Fix by Lucism & Domi */
.panels-3wFtMD {
    border-radius: 20px;
    margin-bottom: 18px;
    margin-right: 5px;
    margin-left: 2px;
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid rgb(78, 78, 81); 
}

.theme-light {
    .panels-3wFtMD {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        backdrop-filter: blur(10px);
        border-radius: 20px;
        margin-bottom: 18px;
        margin-right: 5px;
        margin-left: 2px;
    }
}

.interactiveSelected-29CP8y {
    background: var(--accent-selected) !important; 
    backdrop-filter: blur(20px);
}

/* Channels */
.modeSelected-3DmyhH .icon-2W8DHg, .modeSelected-3DmyhH:hover .icon-2W8DHg, .modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg, .mainContent-uDGa6R .overflow-1wOqNV, .mainContent-uDGa6R {
    color: white;
}
div[aria-label="Text (Age-Restricted)"]>svg {
    color: #ff5252 !important;
}
.icon-2W8DHg, .modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    color: var(--accent);
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: var(--accent) !important;
}
.modeUnread-3Cxepe .icon-2W8DHg  {
       color: rgb(44, 192, 90); 
}
.actionIcon-2sw4Sl {
    color: rgb(255, 255, 255);
}
.addButtonIcon-3rJeaD {
    border-radius: 50%; 
    color: rgb(44, 192, 90);
}
.unreadRelevant-2f-VSK {
    background: linear-gradient(rgb(44, 192, 90), rgb(45, 179, 87)) ;
    width: 8px;
    border-radius: 5px 5px 5px 5px; 
}

.theme-light {
    .mainContent-uDGa6R .overflow-1wOqNV {
        color:black;
    }
}

/* Members Side Bar */
.membersWrap-3NUR2t {
    border-left: .5px solid rgb(0, 0, 0); 
}

.theme-light {
    .membersWrap-3NUR2t {
        border-left: .5px solid rgba(186, 186, 186, 0.386); 
    }
}

/* Voice Chat Controls */
.buttonContents-y1l-R8 {
        font-size: 0px;
}
.buttonIcon-2Zsrs2.withText-2iJppd {
    margin-right: 0px;
}


/* PC-Spotify */
.fa, .fab, .fad, .fal, .far, .fas, .powercord-spotify .spotify-buttons button > div {
    font-family: "Font Awesome 5 Pro" !important;
}
