/*
////////////////////
///Sidebars
////////////////////
*/

/* Discord Logo */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--accent);
}


/* Channel Bars */
.scroller-WSmht3, .scroller-1ox3I2, .container-1zzFcN { 
    border-right: .5px solid black;
}

/* User Settings */
.container-YkUktl {
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid rgb(78, 78, 81); 
    border-radius: 20px;
    margin-bottom: 18px;
    margin-right: 5px;
    margin-left: 0px;
}
    .panels-3wFtMD {
        background-color: #00000000;
        border-right: .5px solid black;
    }

.searchBar-3TnChZ {
    border-right: .5px solid black;
}
.interactiveSelected-29CP8y {
    background: var(--accent-selected) !important; 
    backdrop-filter: blur(20px);
}

/* Channels */
.modeSelected-3DmyhH .icon-2W8DHg, .modeSelected-3DmyhH:hover .icon-2W8DHg, .modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg, .mainContent-uDGa6R .overflow-1wOqNV, .mainContent-uDGa6R {
    color: white;
}
.icon-2W8DHg, .modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    color: var(--accent);
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: var(--accent) !important;
}
.modeUnread-3Cxepe .icon-2W8DHg  {
       color: rgb(44, 192, 90); 
}
.actionIcon-2sw4Sl {
    color: rgb(255, 255, 255);
}
.addButtonIcon-3rJeaD {
    border-radius: 50%; 
    color: rgb(44, 192, 90);
}
.unreadRelevant-2f-VSK {
    background: linear-gradient(rgb(44, 192, 90), rgb(45, 179, 87)) ;
    width: 8px;
    border-radius: 5px 5px 5px 5px; 
}

/* Members Side Bar */
.membersWrap-3NUR2t {
    border-left: .5px solid rgb(0, 0, 0); 
}

/* Voice Chat Controls */
.wrapper-3Hk9OB .container-1zzFcN{
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid rgb(78, 78, 81); 
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 6px;
    overflow-y: hidden;
    overflow-x: hidden;
}
    .buttonContents-y1l-R8 {
        font-size: 0px;
}
.buttonIcon-2Zsrs2.withText-2iJppd {
    margin-right: 0px;
}
