/*
////////////////////
///Sidebars
////////////////////
*/

/* Discord Logo */
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .wrapper__8436d:hover .childWrapper_a6ce15 {
    background-color: var(--accent);
}


/* Channel Bars */
.content_a7d72e { 
    border-left: .5px solid black;
}

.theme-light {
.item-3XjbnG .selected-g-kMVV .channelName-3KPsGw, .modeSelected_d8bfb3 .channelName-3KPsGw {
    color: white;
}
.content_a7d72e { 
    border-left: .5px solid rgba(186, 186, 186, 0.386);
}
}

/* User Settings + VC Controls -- Fix by Lucism & Domi */
.panels_a4d4d9 {
    border-radius: 20px;
    margin-bottom: 18px;
    margin-right: 5px;
    margin-left: 2px;
    background: rgba(0, 0, 0, 0.436); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.483);
    border: 1px solid var(--surCordBorder); 
}

.theme-light {
    .panels_a4d4d9 {
        background: rgba(226, 221, 225, 0.89);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
        border: 1px solid rgba(249, 249, 249, 0.772); 
        backdrop-filter: blur(10px);
        border-radius: 20px;
        margin-bottom: 18px;
        margin-right: 5px;
        margin-left: 2px;
    }
}

.interactiveSelected_c91bad {
    background: var(--accent-selected) !important; 
    backdrop-filter: blur(20px);
}

.withTagAsButton_b2ca13:hover, .withTagless_b2ca13:hover {
    border-radius: 16px;
}

.container_adcaac, .container_b2ca13 {
  border-radius: 20px;
}

.container_b2ca13, .container_b2ca13 .avatar_b2ca13 {
  border-radius: 20px;
}

.theme-dark .container_b2ca13 {
  background: rgba(0, 0, 0, 0);
}

.avatar_b2ca13 {
    left: .7px;
}

.container_adcaac, .container_b2ca13 {
  border-radius: 0px;
}

.button_adcaac .buttonColor_adcaac, .button_adcaac.buttonColor_adcaac {
  border-radius: 15px !important;
}

.theme-dark .panel_bf1a22 {
  background: var(--bg-overlay-1, var(--background-secondary-alt));
  border-radius: 15px 15px 1px 1px;
  border: .1px var(--surCordBorder) solid;
}

/* Channels */
.modeSelected_d8bfb3 .icon_d8bfb3, .modeSelected_d8bfb3:hover .icon_d8bfb3, .modeUnreadImportant_d8bfb3 .icon_d8bfb3, .modeUnreadImportant_d8bfb3:hover .icon_d8bfb3, .mainContent_a08117 .overflow_a82120, .mainContent_a08117 {
    color: white;
}
.iconContainer_d8bfb3[aria-label="Text (Age-Restricted)"]>svg {
    color: #ff5252 !important;
}
.icon_d8bfb3, .modeSelected_d8bfb3 .wrapper_d8bfb3, .modeSelected_d8bfb3:hover .wrapper_d8bfb3 {
    color: var(--accent);
}
.modeSelected_d8bfb3 .wrapper_d8bfb3, .modeSelected_d8bfb3:hover .wrapper_d8bfb3 {
    background-color: var(--accent) !important;
}
.modeUnreadImportant_d8bfb3 .icon_d8bfb3  {
       color: rgb(44, 192, 90); 
}
.actionIcon_f6f816 {
    color: rgb(255, 255, 255);
}
.addButtonIcon_a08117 {
    border-radius: 50%; 
    color: rgb(44, 192, 90);
}
.unreadImportant_d8bfb3, .unreadImportant_d8bfb3 {
    background: linear-gradient(rgb(44, 192, 90), rgb(45, 179, 87)) ;
    width: 8px;
    border-radius: 5px 5px 5px 5px; 
}

.theme-light {
    .mainContent_a08117 .overflow_a82120 {
        color:black;
    }
}

/* Members Side Bar */
.membersWrap_cbd271 {
    border-left: .5px solid rgb(0, 0, 0); 
}

.theme-light {
    .membersWrap_cbd271 {
        border-left: .5px solid rgba(186, 186, 186, 0.386); 
    }
}

/* Voice Chat Controls */
.buttonContents_adcaac {
        font-size: 0px;
}
.buttonIcon_adcaac.withText_adcaac {
    margin-right: 0px;
}

/* User Area */
.avatarWrapper_b2ca13 {
    margin-right: 0px;
}

/* PC-Spotify */
.fa, .fab, .fad, .fal, .far, .fas, .powercord-spotify .spotify-buttons button > div {
    font-family: "Font Awesome 5 Pro" !important;
}
