/*
　 ,、　　　 　,､ ヾＶ'/
　r'ｰ》'´｀⌒ヾ‐》,//
　i　 iミ ノ ﾘハﾘ//
　!　iﾞ瓦ﾟ ヮﾟﾉ!'//|   WARNING!!!! YOU CAN VERY EASILY FUCK SOMETHING UP IF YOU DONT OPEN YOUR EYE BALLS!!!!
　!l! ! と.ﾌﾘ{つ/　!   IF YOU WOULD LIKE TO CHANGE THE ACCENT OF THIS THEME, YOU CAN VERY EASILY DO SO BY
,,ﾉﾘ |　v/_j_､ i!l　i   UNCOMMENTING ONE OF THE FOLLOWING COLORS. MAKE SURE ONLY >>>ONE<<< COLOR IS COMMENTED AT A TIME
..ゞノ　 ~じ'ﾌ~ﾙ'ノ
*/


/*
  /$$$$$$                                            /$$    
 /$$__  $$                                          | $$    
| $$  \ $$  /$$$$$$$  /$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$  
| $$$$$$$$ /$$_____/ /$$_____/ /$$__  $$| $$__  $$|_  $$_/  
| $$__  $$| $$      | $$      | $$$$$$$$| $$  \ $$  | $$    
| $$  | $$| $$      | $$      | $$_____/| $$  | $$  | $$ /$$
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$  | $$  |  $$$$/
|__/  |__/ \_______/ \_______/ \_______/|__/  |__/   \___/  
                                                           */

/* Blue */
@use 'fixations/additions/accents/blue.css';

/* Red */
//@use 'fixations/additions/accents/red.css'; 

/* Yellow */
//@use 'fixations/additions/accents/yellow.css';

/* Pink */
//@use 'fixations/additions/accents/pink.css';

/* Material Blue */
//@use 'fixations/additions/accents/materialblue.css';

/* Hatsune */
//@use 'fixations/additions/accents/hatsune.css';

/* Nord Accents */
//@use 'fixations/additions/accents/nord.css';

/* Dracula Accent */
//@use 'fixations/additions/accents/dracula.css';

/* Fuoco Accent */
//@use 'fixations/additions/accents/fuoco.css';

/* Tokyo Night Accent */
//@use 'fixations/additions/accents/tokyo.css';

/* Thinkpad x30 Accent */
//@use 'fixations/additions/accents/x30.css';

/* Dark */
//@use 'fixations/additions/accents/dark.css';

/* Apple */
//@use 'fixations/additions/accents/apple.css';

/* Cyber */
//@use 'fixations/additions/accents/cyber.css';

/* Pluto */
//@use 'fixations/additions/accents/pluto.css';

/* Joker */
//@use 'fixations/additions/accents/joker.css';

/*
 /$$$$$$$                      /$$                                                               /$$
| $$__  $$                    | $$                                                              | $$
| $$  \ $$  /$$$$$$   /$$$$$$$| $$   /$$  /$$$$$$   /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$   /$$$$$$$
| $$$$$$$  |____  $$ /$$_____/| $$  /$$/ /$$__  $$ /$$__  $$ /$$__  $$| $$  | $$| $$__  $$ /$$__  $$
| $$__  $$  /$$$$$$$| $$      | $$$$$$/ | $$  \ $$| $$  \__/| $$  \ $$| $$  | $$| $$  \ $$| $$  | $$
| $$  \ $$ /$$__  $$| $$      | $$_  $$ | $$  | $$| $$      | $$  | $$| $$  | $$| $$  | $$| $$  | $$
| $$$$$$$/|  $$$$$$$|  $$$$$$$| $$ \  $$|  $$$$$$$| $$      |  $$$$$$/|  $$$$$$/| $$  | $$|  $$$$$$$
|_______/  \_______/ \_______/|__/  \__/ \____  $$|__/       \______/  \______/ |__/  |__/ \_______/
                                         /$$  \ $$                                                  
                                        |  $$$$$$/                                                  
                                         \______/*/

/* Regular Theme (surCord by Vozer) */
@use 'fixations/additions/themes/default.css';

/* AMOLED Theme (Pitch Black by Vozer) */
//@use 'fixations/additions/themes/amoled.css';

/* AMOLED Theme + Contrast (Taken from AMOLED-Cord by LuckFire) */
//@use 'fixations/additions/themes/amoledc.css';

/* Material Dark */
//@use 'fixations/additions/themes/materialdark.css';

/* Nord Theme - (Taken from Arctic Ice Studio & Sven Greb) */
//@use 'fixations/additions/themes/nordtheme.css';

/* Dracula Theme */
//@use 'fixations/additions/themes/dracula.css';

/* Fuoco Theme */
//@use 'fixations/additions/themes/fuoco.css';

/* Tokyo Night Theme */
//@use 'fixations/additions/themes/tokyonight.css';

/* Thinkpad Theme */
//@use 'fixations/additions/themes/thinkpad.css';
