
/*
/////////////////////////
//// Title Bar on macOS
/////////////////////////
*/

/* Title Bar */
.theme-dark { 
.container-ZMc96U.themed-Hp1KC_, .header-3OsQeK{
    background: var(--surCordTitleBar);
    border-bottom: .5px solid black;
}
    .communityInfoVisible-3zc5_s .header-3OsQeK, .communityInfoVisible-3zc5_s .header-3OsQeK:hover, .hasBanner-2IrYih .header-3OsQeK, .hasBanner-2IrYih .header-3OsQeK:hover {
      border-bottom: .5px solid rgba(0, 0, 0, 0);
      border-right: .5px solid black;
      background-color: transparent !important;
    }
    .communityInfoPill-2Mll66 {
        display: none;
    }
 .children-3xh0VB:after {
    background: rgba(0, 0, 0, 0);
}
    .title-17SveM {
        font-weight: 750;
    }
}
.theme-light {
 .container-ZMc96U.themed-Hp1KC_, .header-3OsQeK{
        background: rgba(231, 234, 237) !important; 
        border-bottom: .5px solid rgba(186, 186, 186, 0.386);
    }
        .communityInfoVisible-3zc5_s .header-3OsQeK, .communityInfoVisible-3zc5_s .header-3OsQeK:hover, .hasBanner-2IrYih .header-3OsQeK, .hasBanner-2IrYih .header-3OsQeK:hover {
          border-bottom: .5px solid rgba(0, 0, 0, 0);
          border-right: .5px solid rgba(186, 186, 186, 0.386);
          background-color: transparent !important;
        }
        .communityInfoPill-2Mll66 {
            display: none;
        }
     .children-3xh0VB:after {
        background: rgba(0, 0, 0, 0);
    }
        .title-17SveM {
            font-weight: 750;
            color: rgba(73, 73, 73);
        }
    .clickable-ZD7xvu .icon-2xnN2Y {
        color: rgba(115, 115, 115);
    }
}
/* Search and other Text fields */
.theme-dark {
.searchBar-jGtisZ, .searchBar-3TnChZ .searchBarComponent-3N7dCG, .inner-2pOSmK, .wrapper-n2dlvs, .searchBar-2M9mRP, .input-2z42oC {
    background-color: var(--surCordSearch);
    border-radius: 4px;
    border: 1px solid rgb(97, 96, 99); 
}
.searchBar-jGtisZ:hover, .searchBar-3TnChZ .searchBarComponent-3N7dCG:hover, .wrapper-n2dlvs:hover,  .inner-2pOSmK:hover, .searchBar-2M9mRP:hover, .input-2z42oC:hover, .searchBar-2aylmZ:hover {
    box-shadow: 0 0 3px 3px rgb(32, 83, 148);
}
}
.theme-light {
    .searchBar-jGtisZ, .searchBar-3TnChZ .searchBarComponent-3N7dCG, .inner-2pOSmK, .wrapper-n2dlvs, .searchBar-2M9mRP, .input-2z42oC {
        background-color: rgb(238, 238, 238);
        border-radius: 4px;
        border: 1px solid rgb(217, 217, 217); 
    }
    .searchBar-jGtisZ:hover, .searchBar-3TnChZ .searchBarComponent-3N7dCG:hover, .wrapper-n2dlvs:hover,  .inner-2pOSmK:hover, .searchBar-2M9mRP:hover, .input-2z42oC:hover, .searchBar-2aylmZ:hover {
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.146);
    }
}